<div class="form-group row" style="margin-top: 35px">
    <div class="col-sm-12 col-xl-6">
        <h4 class="sub-title"><span jhiTranslate="student.new.form.steps.responsibleAccountLogin"></span></h4>
        <ul>
            <li>
                <i class="icofont icofont-stylish-right text-danger"></i>
                <span jhiTranslate="student.new.form.login"></span> :
                <strong id="finalResponsibleLogin">{{student.responsibleAccountLogin}}</strong>
            </li>
        </ul>
    </div>
</div>
<div class="form-group row" style="margin-top: 35px">
    <div class="col-sm-12 col-xl-12">
        <h4 class="sub-title"><span jhiTranslate="student.new.form.steps.step-3-responsibles-title"></span></h4>
        <div *ngFor="let responsible of student.responsibles; let i = index">
            <h6> <!--style="float: left;"--><span jhiTranslate="student.new.form.responsible.title"></span> {{i + 1}} <span *ngIf="responsible.respAccount" class="pcoded-badge label label-primary" jhiTranslate="student.view.responsible-account"></span></h6>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-xl-6">
                        <ul>
                            <li>
                                <i class="icofont icofont-stylish-right text-danger"></i>
                                <span jhiTranslate="student.new.form.responsible.firstName"></span> :
                                <strong id="finalResponsibleFirstName-{{i}}">{{responsible.firstName}}</strong>
                            </li>
                            <li>
                                <i class="icofont icofont-stylish-right text-danger"></i>
                                <span jhiTranslate="student.new.form.responsible.lastName"></span> :
                                <strong id="finalResponsibleLastName-{{i}}">{{responsible.lastName}}</strong>
                            </li>
                            <li>
                                <i class="icofont icofont-stylish-right text-danger"></i>
                                <span jhiTranslate="student.new.form.responsible.gender"></span> :
                                <strong id="finalResponsibleGender-{{i}}">{{responsible.gender|translate}}</strong>
                            </li>
                            <li>
                                <i class="icofont icofont-stylish-right text-danger"></i>
                                <span jhiTranslate="student.new.form.responsible.birthDate"></span> :
                                <strong id="finalResponsibleBirthDate-{{i}}">{{responsible.birthdate|date:dateHelper.dateFormat()}}</strong>
                            </li>
                            <li>
                                <i class="icofont icofont-stylish-right text-danger"></i>
                                <span jhiTranslate="student.new.form.responsible.nationality"></span> :
                                <strong id="finalResponsibleNationality">{{responsible.nationality}}</strong>
                            </li>
                            <li>
                                <i class="icofont icofont-stylish-right text-danger"></i>
                                <span jhiTranslate="student.new.form.responsible.addressName"></span> :
                                <strong id="finalResponsibleAddressName-{{i}}">{{responsible.address.name}}</strong>
                            </li>
                            <li>
                                <i class="icofont icofont-stylish-right text-danger"></i>
                                <span jhiTranslate="student.new.form.responsible.postalCode"></span> :
                                <strong id="finalResponsiblePostalCode-{{i}}">{{responsible.address.postalCode}}</strong>
                            </li>
                            <li>
                                <i class="icofont icofont-stylish-right text-danger"></i>
                                <span jhiTranslate="student.new.form.responsible.city"></span> :
                                <strong id="finalResponsibleCity-{{i}}">{{responsible.address.city}}</strong>
                            </li>
                            <li>
                                <i class="icofont icofont-stylish-right text-danger"></i>
                                <span jhiTranslate="student.new.form.responsible.country"></span> :
                                <strong id="finalResponsibleCountry-{{i}}">{{responsible.address.country}}</strong>
                            </li>
                            <li>
                                <i class="icofont icofont-stylish-right text-danger"></i>
                                <span jhiTranslate="student.new.form.responsible.phone"></span> :
                                <strong id="finalResponsiblePhone-{{i}}">{{responsible.phone}}</strong>
                            </li>
                            <li>
                                <i class="icofont icofont-stylish-right text-danger"></i>
                                <span jhiTranslate="student.new.form.responsible.cellPhone"></span> :
                                <strong id="finalResponsibleCellPhone-{{i}}">{{responsible.cellPhone}}</strong>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-12 col-xl-6">
                        <ul>
                            <li>
                                <i class="icofont icofont-stylish-right text-danger"></i>
                                <span jhiTranslate="student.new.form.responsible.email"></span> :
                                <strong id="finalResponsibleEmail-{{i}}">{{responsible.email}}</strong>
                            </li>
                            <li>
                                <i class="icofont icofont-stylish-right text-danger"></i>
                                <span jhiTranslate="student.new.form.responsible.secondaryEmail"></span> :
                                <strong id="finalResponsibleSecondaryEmail-{{i}}">{{responsible.secondaryEmail}}</strong>
                            </li>
                            <li>
                                <i class="icofont icofont-stylish-right text-danger"></i>
                                <span jhiTranslate="student.new.form.responsible.familySituation"></span> :
                                <strong id="finalResponsibleFamilySituation-{{i}}">{{responsible.familySituation|translate}}</strong>
                            </li>
                            <li>
                                <i class="icofont icofont-stylish-right text-danger"></i>
                                <span jhiTranslate="student.new.form.responsible.studentRelationship"></span> :
                                <strong id="finalResponsibleStudentRelationship-{{i}}">{{responsible.studentRelationship}}</strong>
                            </li>
                            <li>
                                <i class="icofont icofont-stylish-right text-danger"></i>
                                <span jhiTranslate="student.new.form.responsible.dependentChildren"></span> :
                                <strong id="finalResponsibleDependentChildren-{{i}}">{{responsible.dependentChildren}}</strong>
                            </li>
                            <li>
                                <i class="icofont icofont-stylish-right text-danger"></i>
                                <span jhiTranslate="student.new.form.responsible.profession"></span> :
                                <strong id="finalResponsibleProfession-{{i}}">{{responsible.profession}}</strong>
                            </li>
                            <li>
                                <i class="icofont icofont-stylish-right text-danger"></i>
                                <span jhiTranslate="student.new.form.responsible.proEmail"></span> :
                                <strong id="finalResponsibleProEmail-{{i}}">{{responsible.proEmail}}</strong>
                            </li>
                            <li>
                                <i class="icofont icofont-stylish-right text-danger"></i>
                                <span jhiTranslate="student.new.form.responsible.workPhone"></span> :
                                <strong id="finalResponsibleWorkPhone-{{i}}">{{responsible.workPhone}}</strong>
                            </li>
                            <li>
                                <i class="icofont icofont-stylish-right text-danger"></i>
                                <span jhiTranslate="student.new.form.responsible.workCellPhone"></span> :
                                <strong id="finalResponsibleWorkCellPhone-{{i}}">{{responsible.workCellPhone}}</strong>
                            </li>
                            <li>
                                <i class="icofont icofont-stylish-right text-danger"></i>
                                <span jhiTranslate="student.new.form.responsible.parentsAssociation"></span> :
                                <strong id="finalResponsibleParentsAssociation-{{i}}">{{responsible.parentsAssociation}}</strong>
                            </li>
                            <li>
                                <i class="icofont icofont-stylish-right text-danger"></i>
                                <span jhiTranslate="student.new.form.responsible.parentsAssociationPosition"></span> :
                                <strong id="finalResponsibleParentsAssociationPosition-{{i}}">{{responsible.parentsAssociationPosition}}</strong>
                            </li>
                            <li>
                                <i class="icofont icofont-stylish-right text-danger"></i>
                                <span jhiTranslate="student.new.form.responsible.comment"></span> :
                                <strong id="finalResponsibleComment-{{i}}">{{responsible.comment}}</strong>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
