<div class="page-body">
    <div class="row">
        <div class="col-sm-12">
            <jhi-card [classHeader]="true">
                <form>
                    <div class="row">
                        <h4 class="col-sm-12 center-block text-center"><span jhiTranslate="schoolClass.home.title"></span> </h4>
                        <div class="col-sm-12">
                            <label class="dt-cust-search f-right">
                                <span class="form-group">
                                    <label><span jhiTranslate="global.form.search"></span></label>
                                    <input
                                        type='text'
                                        class="form-control input-sm m-l-10"
                                        placeholder="{{'schoolClass.home.search-placeholder'|translate}}"
                                        (keyup)='updateFilter($event)'
                                    />
                                </span>
                                <span class="form-group">
                                    <a id="newSchoolClass" class="btn btn-primary btn-mat btn-sm" [routerLink]="['/school-classes', 'new']">
                                        <i class="mdi mdi-plus mdi-18px"></i> <span jhiTranslate="global.form.create"></span>
                                    </a>
                                </span>
                            </label>
                            <div class="float-left form-group">
                                <label for="nbRows"><span jhiTranslate="global.form.nb-rows">rows</span></label>
                                <select id="nbRows" name="nbRows" class="form-control-sm form-control-inverse"
                                        [(ngModel)]="rowsNumber">
                                    <option *ngFor="let rowNb of rowsNumbers" [value]="rowNb">{{rowNb}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <ngx-datatable
                        class="data-table"
                        [rows]="schoolClasses"
                        [loadingIndicator]="loadingIndicator"
                        [columnMode]="'force'"
                        [headerHeight]="40"
                        [footerHeight]="25"
                        [rowHeight]="'auto'"
                        [limit]="rowsNumber"
                        [reorderable]="true">
                        <ngx-datatable-column prop="name">
                            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                <span class="datatable-header-cell-wrapper draggable text-center" (click)="sort()">
                                    <strong>{{'schoolClass.home.datatable.headers.name'|translate}}</strong>
                                </span>
                            </ng-template>
                            <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                <span class="float-left"><strong><a [routerLink]="['view', row.id]">{{value}}</a></strong></span>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column prop="customName">
                            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                <span class="datatable-header-cell-wrapper draggable text-center" (click)="sort()">
                                    <strong>{{'schoolClass.home.datatable.headers.customName'|translate}}</strong>
                                </span>
                            </ng-template>
                            <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                <span class="float-left"><strong><a [routerLink]="['view', row.id]">{{value}}</a></strong></span>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column prop="grade">
                            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                <span class="datatable-header-cell-wrapper draggable text-center" (click)="sort()">
                                    <strong>{{'schoolClass.home.datatable.headers.grade'|translate}}</strong>
                                </span>
                            </ng-template>
                            <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                <span class="float-left"><strong>{{value.name}} <span *ngIf="value.diminutive">- {{value.diminutive}}</span></strong></span>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column prop="gradeSerie">
                            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                <span class="datatable-header-cell-wrapper draggable text-center" (click)="sort()">
                                    <strong>{{'schoolClass.home.datatable.headers.grade-serie'|translate}}</strong>
                                </span>
                            </ng-template>
                            <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                <span class="float-left"><strong>{{value.name}} <span *ngIf="value.diminutive">- {{value.diminutive}}</span></strong></span>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column prop="headTeachers">
                            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                <span class="datatable-header-cell-wrapper draggable text-center" (click)="sort()">
                                    <strong>{{'schoolClass.home.datatable.headers.headTeachers'|translate}}</strong>
                                </span>
                            </ng-template>
                            <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                <ul class="float-left">
                                   <li *ngFor="let teacher of value">
                                       <strong > {{teacher.firstName}} {{teacher.lastName}} </strong>
                                   </li>
                                </ul>
                            </ng-template>
                        </ngx-datatable-column>
                    </ngx-datatable>
                </form>
            </jhi-card>
        </div>
    </div>
</div>
