<!-- TODO: add prefered day for subjects -->
<!-- TODO: add default time table options -->
<div class="page-body">
    <form (ngSubmit)="createOrUpdateGrade(gradeForm)" novalidate [formGroup]="gradeForm">
        <div class="row">
            <div class="col-sm-12">
                <div class="card-header">
                    <div class="row">
                        <div class="col-lg-8 center-block text-center" style="font-size: large">
                            <div [ngSwitch]="routeState">
                                <h2 *ngSwitchCase="'new'" class="card-header-text"><span jhiTranslate="grade.new.title"></span></h2>
                                <h2 *ngSwitchCase="'edit'" class="card-header-text"><span jhiTranslate="grade.edit.title"></span> "{{grade.name}}"</h2>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="float-right">
                                <button type="button" class="btn btn-secondary btn-mat m-b-0" id="cancel" (click)="goBack()">
                                    <i class="mdi mdi-cancel mdi-18px"></i>
                                    <span jhiTranslate="global.buttons.cancel">Cancel</span>
                                </button>
                                <button type="submit" class="btn btn-primary btn-mat m-b-0" id="submit" [disabled]="!isFormValid()">
                                        <span [ngSwitch]="routeState">
                                            <span *ngSwitchCase="'new'">
                                                <i class="mdi mdi-plus mdi-18px"></i>
                                                <span jhiTranslate="global.buttons.create">Create</span>
                                            </span>
                                            <span *ngSwitchCase="'edit'">
                                                <i class="mdi mdi-pencil-box mdi-18px"></i>
                                                <span jhiTranslate="global.buttons.update">Update</span>
                                            </span>
                                        </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <jhi-card [classHeader]="true" [cardOptionBlock]="true">
                    <div class="row">
                        <div class="col-sm-10 mobile-inputs m-t-20">
                            <div class="form-group row">
                                <label for="name" class="col-sm-4 col-form-label">
                                    <span jhiTranslate="grade.new.form.name">Grade name</span> <span style="color: #c75b58;">*</span></label>
                                <div class="col-sm-8">
                                    <input (keypress)="resetMessages()" type="text" id="name" class="form-control" formControlName="name"
                                           placeholder="{{'grade.new.form.name-placeholder'|translate}}">
                                    <div class="messages text-danger"
                                         *ngIf="gradeForm.controls.name.invalid && (gradeForm.controls.name.dirty || gradeForm.controls.name.touched)">
                                        <span jhiTranslate="grade.new.form.name-error"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="diminutive" class="col-sm-4 col-form-label">
                                    <span jhiTranslate="grade.new.form.diminutive">Grade diminutive</span></label>
                                <div class="col-sm-8">
                                    <input (keypress)="resetMessages()" type="text" id="diminutive" class="form-control" formControlName="diminutive"
                                           placeholder="{{'grade.new.form.diminutive-placeholder'|translate}}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="notation" class="col-sm-4 col-form-label">
                                    <span jhiTranslate="grade.new.form.notation">Grade notation</span> <span style="color: #c75b58;">*</span></label>
                                <div class="col-sm-8">
                                    <select (click)="resetMessages()" [compareWith]="compareGradesNotations"
                                            [formControlName]="'notation'" id="notation" class="form-control form-control-inverse">
                                        <option *ngFor="let notation of gradesNotations; let i = index" id="notation-{{i}}"
                                                [ngValue]="notation">{{notation.code|translate}}</option>
                                    </select>
                                    <div class="messages text-danger"
                                         *ngIf="gradeForm.controls.notation.invalid && (gradeForm.controls.notation.dirty || gradeForm.controls.notation.touched)">
                                        <span jhiTranslate="grade.new.form.notation-error"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="maxMinutesPerDay" class="col-sm-4 col-form-label">
                                    <span jhiTranslate="grade.new.form.maxMinutesPerDay">Grade max minutes per day</span> <span style="color: #c75b58;">*</span></label>
                                <div class="col-sm-8">
                                    <input (keypress)="resetMessages()" type="number" id="maxMinutesPerDay" class="form-control" formControlName="maxMinutesPerDay"
                                           placeholder="{{'grade.new.form.maxMinutesPerDay-placeholder'|translate}}">
                                        {{displayHoursAndMinutes(gradeForm.controls.maxMinutesPerDay.value)}}
                                    <div class="messages text-danger"
                                         *ngIf="gradeForm.controls.maxMinutesPerDay.invalid && (gradeForm.controls.maxMinutesPerDay.dirty || gradeForm.controls.maxMinutesPerDay.touched)">
                                        <span jhiTranslate="grade.new.form.maxMinutesPerDay-error"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </jhi-card>
                <div class="row">
                    <div class="col-sm-12">
                        <jhi-card [classHeader]="true" [cardOptionBlock]="true" [title]="'grade.new.form.orders.title'|translate">
                            <table class="table centered-table table-border-style table-sm">
                                <ng-container *ngFor="let gradeForOrders of grades | sort: 'order':'desc'; let i = index">
                                        <tr [ngClass]="getGradeCellBackground(gradeForOrders)">
                                            <td class="align-middle" [attr.rowspan]="2">{{gradeForOrders.name}}</td>
                                            <td class="align-middle" [attr.rowspan]="2">{{gradeForOrders.diminutive}}</td>
                                            <td class="align-middle" [attr.rowspan]="2"><strong>{{gradeForOrders.order}}</strong></td>
                                            <td>
                                                <button [disabled]="i === 0" id="ascendOrder-{{i}}" type="button"
                                                        class="btn btn-primary btn-sm" style="margin-bottom: 10px;" (click)="increaseOrder(gradeForOrders.order)">
                                                    <em class="mdi mdi-arrow-up"></em>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr [ngClass]="getGradeCellBackground(gradeForOrders)">
                                            <td>
                                                <button [disabled]="i === grades.length - 1" id="descendOrder-{{i}}" type="button"
                                                        class="btn btn-info btn-sm" style="margin-bottom: 10px;" (click)="decreaseOrder(gradeForOrders.order)">
                                                    <em class="mdi mdi-arrow-down"></em>
                                                </button>
                                            </td>
                                        </tr>
                                </ng-container>
                            </table>
                        </jhi-card>
                    </div>
                </div>
                <div class="row" [formArrayName]="'series'">
                    <div class="col-sm-12">
                        <jhi-card [classHeader]="true" [cardOptionBlock]="true" [title]="'grade.new.form.series-array.title'|translate">
                            <div class="row">
                                <div class="col-sm-12 mobile-inputs m-t-20">
                                    <button id="add-serie-1" type="button" [disabled]="!basicGradeFormValid()" class="btn btn-primary btn-sm" style="margin-bottom: 10px;" (click)="addSerie()">
                                        <em class="mdi mdi-plus"></em> <span jhiTranslate="grade.new.form.add-serie"></span>
                                    </button>
                                </div>
                            </div>
                            <div *ngIf="!!gradeForm.get('series')['controls'].length">
                                <div class="form-group row"
                                     *ngFor="let serie of gradeForm.get('series').controls; let i = index" [formGroupName]="i">
                                    <div class="col-sm-4">
                                        <label for="serie-name-{{i}}" class="control-label"><span jhiTranslate="grade.new.form.series-array.name"></span> <span style="color: #c75b58;">*</span></label>
                                        <input (keypress)="resetMessages()" id="serie-name-{{i}}" formControlName="name"
                                               type="text" class="form-control" placeholder="{{'grade.new.form.series-array.name-placeholder'|translate}}">
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="serie-diminutive-{{i}}" class="control-label"><span jhiTranslate="grade.new.form.series-array.diminutive"></span></label>
                                        <input (keypress)="resetMessages()" id="serie-diminutive-{{i}}" formControlName="diminutive"
                                               type="text" class="form-control" placeholder="{{'grade.new.form.series-array.diminutive-placeholder'|translate}}">
                                    </div>
                                    <div class="col-xs-4 col-sm-4">
                                        <label for="serie-option-{{i}}" class="control-label"><span jhiTranslate="grade.new.form.series-array.option"></span></label>
                                        <input (keypress)="resetMessages()" id="serie-option-{{i}}" formControlName="option"
                                               type="text" class="form-control" placeholder="{{'grade.new.form.series-array.option-placeholder'|translate}}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="button" *ngIf="!!gradeForm.controls.series.controls.length" [disabled]="!basicGradeFormValid()"
                                            id="add-serie-2" class="btn btn-primary btn-sm" style="margin-bottom: 10px;" (click)="addSerie()">
                                        <em class="mdi mdi-plus"></em> <span jhiTranslate="grade.new.form.add-serie"></span>
                                    </button>
                                    <button type="button" id="remove-serie-2" *ngIf="!!gradeForm.controls.series.controls.length"
                                            class="btn btn-danger btn-sm" style="margin-bottom: 10px;" (click)="removeSerie()">
                                        <em class="mdi mdi-minus"></em> <span jhiTranslate="grade.new.form.remove-serie"></span>
                                    </button>
                                </div>
                            </div>
                        </jhi-card>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

