<div class="page-body">
    <div class="row">
        <div class="col-sm-12">
            <jhi-card [classHeader]="true">
                <form>
                    <div class="row">
                        <h4 class="col-sm-12 center-block text-center"><span jhiTranslate="grade.home.title"></span>
                        </h4>
                        <div class="col-sm-12">
                            <label class="dt-cust-search f-right">
                                <span class="form-group">
                                    <label><span jhiTranslate="global.form.search"></span></label>
                                    <input
                                        type='text'
                                        class="form-control input-sm m-l-10"
                                        placeholder="{{'grade.home.search-placeholder'|translate}}"
                                        (keyup)='updateFilter($event)'
                                    />
                                </span>
                                <span class="form-group">
                                    <a class="btn btn-primary btn-mat btn-sm" [routerLink]="['/grades', 'new']">
                                        <i class="mdi mdi-plus mdi-18px"></i> <span
                                        jhiTranslate="global.form.create"></span>
                                    </a>
                                </span>
                            </label>
                            <div class="float-left form-group">
                                <label for="nbRows"><span jhiTranslate="global.form.nb-rows">rows</span></label>
                                <select id="nbRows" name="nbRows" class="form-control-sm form-control-inverse"
                                        [(ngModel)]="rowsNumber">
                                    <option *ngFor="let rowNb of rowsNumbers" [value]="rowNb">{{rowNb}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <ngx-datatable
                        #table
                        class="data-table"
                        [rows]="grades"
                        [loadingIndicator]="loadingIndicator"
                        [columnMode]="'force'"
                        [headerHeight]="40"
                        [footerHeight]="25"
                        [rowHeight]="50"
                        [limit]="rowsNumber"
                        [reorderable]="true">
                        <ngx-datatable-column prop="name">
                            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                <span class="datatable-header-cell-wrapper draggable text-center" (click)="sort()">
                                    <strong>{{'grade.home.datatable.headers.name'|translate}}</strong>
                                </span>
                            </ng-template>
                            <ng-template let-value="value" ngx-datatable-cell-template>
                                <span class="float-left"><strong><a
                                    [routerLink]="['view', value]">{{value}}</a></strong></span>
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column prop="diminutive">
                            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                <span class="datatable-header-cell-wrapper draggable text-center" (click)="sort()">
                                    <strong>{{'grade.home.datatable.headers.diminutive'|translate}}</strong>
                                </span>
                            </ng-template>
                            <ng-template let-value="value" ngx-datatable-cell-template>
                                <span class="float-left">{{value}}</span>
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column prop="order">
                            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                <span class="datatable-header-cell-wrapper draggable text-center" (click)="sort()">
                                    <strong>{{'grade.home.datatable.headers.order'|translate}}</strong>
                                </span>
                            </ng-template>
                            <ng-template class="text-center" let-value="value" ngx-datatable-cell-template>
                                {{value}}
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column prop="nbSubjects" class="text-center">
                            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                <span class="datatable-header-cell-wrapper draggable text-center" (click)="sort()">
                                    <strong>{{'grade.home.datatable.headers.ngSubjects'|translate}}</strong>
                                </span>
                            </ng-template>
                            <ng-template let-value="value" ngx-datatable-cell-template>
                                {{value}}
                            </ng-template>
                        </ngx-datatable-column>
                    </ngx-datatable>
                </form>
            </jhi-card>
        </div>
    </div>
</div>
