.datatable-header-cell {
    display: flex !important;
    align-items: center !important;
    text-align: center !important;
}

.datatable-header {
    height: 50px !important;
    display: flex !important;
}
