<div class="page-body">
    <div class="row">
        <div class="col-lg-12">
            <div class="card-header">
                <div class="row">
                    <div class="col-lg-4">
                        <button class="btn btn-default btn-md" id="go-back" (click)="goBack()">
                            <i class="mdi mdi-arrow-left-bold"></i> {{'grade.view.goback'|translate}}
                        </button>
                    </div>
                    <div class="col-lg-4 center-block text-center" style="font-size: large">
                        <h2 class="card-header-text"><span jhiTranslate="grade.view.title"></span> "{{grade.name}}"
                            <span *ngIf="grade.diminutive">- {{grade.diminutive}}</span>
                        </h2>
                    </div>
                    <div class="col-lg-4">
                        <div class="float-right">
                            <button class="btn btn-primary btn-mat" id="edit-btn"
                                    [routerLink]='["../../edit", grade.name]'>
                                <i class="mdi mdi-pencil-box mdi-18px"></i> {{'grade.view.edit'|translate}}
                            </button>
                            <button class="btn btn-danger btn-mat" id="delete-btn" (click)="modalDefault.show()">
                                <i class="mdi mdi-delete-variant mdi-18px"></i> {{'grade.view.delete'|translate}}
                            </button>
                            <jhi-modal-basic #modalDefault>
                                <div class="app-modal-header">
                                    <h4 class="modal-title" jhiTranslate="grade.delete.title"
                                        translateValues="{name: '{{grade.name}}'}">Confirm delete operation</h4>
                                    <button type="button" class="close basic-close" (click)="modalDefault.hide()">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="app-modal-body">
                                    <jhi-alert-error></jhi-alert-error>
                                    <p jhiTranslate="grade.delete.question"
                                       translateValues="{name: '{{grade.name}}'}">Are you sure you want to delete
                                        this school room ?</p>
                                </div>
                                <div class="app-modal-footer">
                                    <button type="button" class="btn btn-default waves-effect"
                                            (click)="modalDefault.hide()">
                                        <span jhiTranslate="entity.action.cancel">Cancel</span>
                                    </button>
                                    <button type="button" class="btn btn-danger waves-effect waves-light ">
                                        <span jhiTranslate="entity.action.delete"
                                              (click)="deleteSchoolRoom()">Delete</span>
                                    </button>
                                </div>
                            </jhi-modal-basic>
                        </div>
                    </div>
                </div>
            </div>
            <jhi-card [classHeader]="true" [cardClass]="'tab-card'" [cardOptionBlock]="true">
                <div class="md-tabs">
                    <ngb-tabset>
                        <ngb-tab title="Basic Info">
                            <ng-template ngbTabContent>
                                <div [@fadeInOutTranslate] class="m-t-15">
                                    <div class="card-body">
                                        <div class="view-info">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="general-info">
                                                        <div class="row">
                                                            <div class="col-lg-8 col-xl-8">
                                                                <div class="table-responsive">
                                                                    <table class="table m-0">
                                                                        <tbody>
                                                                        <tr>
                                                                            <th><span
                                                                                jhiTranslate="grade.view.name"></span>
                                                                            </th>
                                                                            <td>{{grade.name}}</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th><span
                                                                                jhiTranslate="grade.view.diminutive"></span>
                                                                            </th>
                                                                            <td>{{grade.diminutive}}</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th><span
                                                                                jhiTranslate="grade.view.order"></span>
                                                                            </th>
                                                                            <td>{{grade.order}}</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th><span
                                                                                jhiTranslate="grade.view.notation"></span>
                                                                            </th>
                                                                            <td><span
                                                                                jhiTranslate="{{grade.notation.code}}"></span>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th><span
                                                                                jhiTranslate="grade.view.maxMinutesPerDay"></span>
                                                                            </th>
                                                                            <td>{{grade.maxMinutesPerDay}}</td>
                                                                        </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="Emplois du temps">
                            <ng-template ngbTabContent>
                                <div [@fadeInOutTranslate] class="m-t-15 text-center">
                                    <div class="row">
                                        <div class="col-12">
                                            <h6><span jhiTranslate="grade.view.grades-timetable.title"></span></h6>
                                            <mwl-calendar-week-view
                                                precision="minutes"
                                                [headerTemplate]="headerTemplate"
                                                [viewDate]="viewDate"
                                                [events]="events"
                                                [hourSegments]="2"
                                                [eventTemplate]="eventTemplate"
                                                [dayStartHour]="+grade.timeTableOptions.coursesStartTime.hour - 1"
                                                [dayStartMinute]="+grade.timeTableOptions.coursesStartTime.minutes"
                                                [dayEndHour]="+grade.timeTableOptions.coursesEndTime.hour + 1"
                                                [dayEndMinute]="+grade.timeTableOptions.coursesEndTime.minutes"
                                                [weekStartsOn]="+grade.timeTableOptions.firstWeekDay.position"
                                            >
                                            </mwl-calendar-week-view>
                                            <ng-template #headerTemplate let-days="days" let-locale="locale"
                                                         let-dayClicked="dayClicked" let-eventDropped="eventDropped">
                                                <div class="cal-day-headers cursor-default">
                                                    <div
                                                        class="cal-header"
                                                        *ngFor="let day of days"
                                                        [class.cal-past]="day.isPast"
                                                        [class.cal-future]="day.isFuture"
                                                        [class.cal-drag-over]="day.dragOver"
                                                        (mwlClick)="dayClicked.emit({date: day.date})"
                                                        mwlDroppable
                                                        (dragEnter)="day.dragOver = true"
                                                        (dragLeave)="day.dragOver = false"
                                                        (drop)="day.dragOver = false; eventDropped.emit({event: $event.dropData.event, newStart: day.date, fromHeader: true})">
                                                        <div class="top" [class.today]="day.isToday">
                                                            <div class="day-label text-uppercase">
                                                                <strong>{{ day.date | calendarDate:'weekViewColumnHeader':locale }}</strong>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </ng-template>
                                            <ng-template
                                                #eventTemplate
                                                let-weekEvent="weekEvent"
                                                let-tooltipPlacement="tooltipPlacement"
                                                let-eventClicked="eventClicked"
                                                let-tooltipTemplate="tooltipTemplate"
                                                let-tooltipAppendToBody="tooltipAppendToBody"
                                                let-tooltipDisabled="tooltipDisabled"
                                                let-tooltipDelay="tooltipDelay"
                                                let-column="column"
                                            >
                                                <div
                                                    class="cal-event"
                                                    [ngStyle]="{backgroundColor: weekEvent.event.color?.secondary,
                                borderColor: weekEvent.event.color?.primary
                                }"
                                                    [mwlCalendarTooltip]="!tooltipDisabled ? (weekEvent.event.title | calendarEventTitle: 'weekTooltip':weekEvent.event): ''"
                                                    [tooltipPlacement]="tooltipPlacement"
                                                    [tooltipEvent]="weekEvent.event"
                                                    [tooltipTemplate]="tooltipTemplate"
                                                    [tooltipAppendToBody]="tooltipAppendToBody"
                                                    [tooltipDelay]="tooltipDelay"
                                                    (mwlClick)="eventClicked.emit()"
                                                >
                                                    <mwl-calendar-event-actions
                                                        [event]="weekEvent.event"
                                                    >
                                                    </mwl-calendar-event-actions>
                                                    <mwl-calendar-event-title [customTemplate]="eventTitleTemplate"
                                                                              [event]="weekEvent.event"
                                                                              view="week"
                                                    >
                                                    </mwl-calendar-event-title>
                                                    <ng-template #eventTitleTemplate let-event="event">
                                                        <div [style.color]="event['fontColor']">
                                                            <strong> {{dateTimeHelper.twoDigitTimeFormat(event.timeSlot?.startTime.hour, event.timeSlot?.startTime.minutes)}} - {{dateTimeHelper.twoDigitTimeFormat(event.timeSlot?.endTime.hour, event.timeSlot?.endTime.minutes)}} </strong>
                                                            <br />
                                                            <span class="text-center">{{event.timeSlot.title|translate}}</span>
                                                            <br />
                                                        </div>
                                                    </ng-template>
                                                </div>
                                            </ng-template>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="Order">
                            <ng-template ngbTabContent>
                                <div [@fadeInOutTranslate] class="m-t-15 text-center">
                                    <div class="table-responsive row col-md-4 col-md-push-4"
                                         style="margin: 0 auto; float: none;">
                                        <h6><span jhiTranslate="grade.view.grades-ranking.title"></span></h6>
                                        <table
                                            class="table table-condensed table-responsive table-columned table-responsive-md table-xl">
                                            <thead>
                                            <tr>
                                                <td><span jhiTranslate="grade.view.order"></span></td>
                                                <td><span jhiTranslate="grade.view.name"></span></td>
                                                <td><span jhiTranslate="grade.view.diminutive"></span></td>
                                            </tr>
                                            </thead>
                                            <tr *ngFor="let gradeForRanking of grades"
                                                [ngClass]="getGradeCellBackground(gradeForRanking)">
                                                <td>{{gradeForRanking.order}}</td>
                                                <td>{{gradeForRanking.name}}</td>
                                                <td>{{gradeForRanking.diminutive}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="Series">
                            <ng-template ngbTabContent>
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <h2><span jhiTranslate="grade.view.series-array.title"></span></h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <table *ngIf="!!grade.series.length"
                                                   class="table table-condensed table-responsive table-columned table-responsive-md table-striped table-hover">
                                                <thead>
                                                <tr>
                                                    <td><strong><span
                                                        jhiTranslate="grade.view.series-array.name"></span></strong>
                                                    </td>
                                                    <td><strong><span
                                                        jhiTranslate="grade.view.series-array.diminutive"></span></strong>
                                                    </td>
                                                    <td><strong><span
                                                        jhiTranslate="grade.view.series-array.option"></span></strong>
                                                    </td>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr *ngFor="let serie of grade.series">
                                                    <td>{{serie.name}}</td>
                                                    <td>{{serie.diminutive}}</td>
                                                    <td>{{serie.option}}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <div *ngIf="!grade.series.length">
                                                <i><span jhiTranslate="grade.view.series-array.empty"></span></i>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="Matières">
                            <ng-template ngbTabContent>
                                <div class="card-body">
                                    <div *ngIf="grade.subjects && !!grade.subjects.length">
                                        <div class="table-responsive row col-md-12 col-md-push-12"
                                             style="margin: 0 auto; float: none;">
                                            <h6><span jhiTranslate="grade.view.subjects-title"></span></h6>
                                            <table
                                                class="table table-condensed table-responsive table-columned table-responsive-md table-xl">
                                                <thead>
                                                <tr>
                                                    <th><span jhiTranslate="grade.view.subject-name"></span></th>
                                                    <th><span jhiTranslate="grade.view.subject-customName"></span></th>
                                                    <th><span jhiTranslate="grade.view.subject-foreignLanguage"></span></th>
                                                    <th><span jhiTranslate="grade.view.subject-gradeSerie"></span></th>
                                                </tr>
                                                </thead>
                                                <tr *ngFor="let subject of grade.subjects">
                                                    <td>{{subject.name}}</td>
                                                    <td>{{subject.customName}}</td>
                                                    <td>{{subject.foreignLanguage}}</td>
                                                    <td>{{subject.gradeSerie}}</td>
                                                </tr>
                                            </table>
                                        </div>

                                    </div>
                                    <div *ngIf="!grade.subjects || !grade.subjects.length">
                                        No subjects
                                        <span class="form-group">
                                            <a class="btn btn-primary btn-mat btn-sm" [routerLink]="['/subjects', 'new']">
                                                <i class="mdi mdi-plus mdi-18px"></i>
                                                <span jhiTranslate="global.form.create"></span>
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </div>
            </jhi-card>
        </div>
    </div>
</div>
