<div class="page-body">
    <div class="row">
        <div class="col-md-12">
            <jhi-card [title]="'client.view.summary.title'|translate">
                <div class="row">
                    <div class="col-sm-3">
                        <h2 class="d-inline-block text-c-blue m-r-10">{{client.contract.academicYear.startYear}} - {{client.contract.academicYear.endYear}}</h2>
                        <div class="d-inline-block">
                            <p class="text-muted"><span jhiTranslate="client.view.summary.school-year"></span></p>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <h2 class="d-inline-block text-c-green m-r-10">{{client.contract.pricing.titleCode|translate}}</h2>
                        <div class="d-inline-block">
                            <p class="m-b-0"><i class="fa fa-caret-right m-r-10 text-c-green"></i><a jhiTranslate="client.view.summary.change-plan"></a></p>
                            <p class="text"><i class="fa fa-caret-right m-r-10 text-c-green"></i><a jhiTranslate="client.view.summary.plan-detail"></a></p>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <h2 class="d-inline-block text-c-green m-r-10">{{"client.view.summary.dates"|translate}}</h2>
                        <div class="d-inline-block">
                            <p class="m-b-0"><i class="fa fa-caret-right m-r-10 text-c-green"></i><span jhiTranslate="client.view.summary.dates-start"></span> : {{client.contract.globalPeriodStart|date: dateHelper.dateFormat()}}</p>
                            <p class="m-b-0"><i class="fa fa-caret-right m-r-10 text-c-green"></i><span jhiTranslate="client.view.summary.dates-end"></span> : {{client.contract.currentPeriodEnd|date: dateHelper.dateFormat()}}</p>

                        </div>
                    </div>
                    <div class="col-sm-3">
                        <h2 class="d-inline-block text-c-pink m-r-10" *ngIf="client.contract.globalOverdue > 0">
                            - {{client.contract.globalOverdue}} {{client.contract.pricing.currency.symbol}}
                        </h2>
                        <h2 class="d-inline-block text-c-green m-r-10" *ngIf="client.contract.globalOverdue === 0">0 {{client.contract.pricing.currency.symbol}}</h2>
                        <div class="d-inline-block">
                            <p class="text-muted"><span jhiTranslate="client.view.summary.balance"></span></p>
                        </div>
                    </div>
                </div>
            </jhi-card>
            <jhi-card [classHeader]="true">
                <div class="card-body">
                    <ngb-tabset class="schoolClass-tab-title" [justify]="'fill'">
                        <ngb-tab>
                            <ng-template ngbTabTitle>
                                <em class="mdi mdi-information-outline"></em> <span jhiTranslate="client.view.tab-basic-infos-title"></span>
                            </ng-template>
                            <ng-template ngbTabContent>
                                <jhi-client-view-basic-infos></jhi-client-view-basic-infos>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab>
                            <ng-template ngbTabTitle>
                                <em class="mdi mdi-file-multiple"></em> <span jhiTranslate="client.view.tab-contract-title"></span>
                            </ng-template>
                            <ng-template ngbTabContent>
                                <jhi-client-view-contract></jhi-client-view-contract>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab>
                            <ng-template ngbTabTitle>
                                <em class="mdi mdi-calendar-month"></em> <span jhiTranslate="client.view.tab-timetables-title"></span>
                            </ng-template>
                            <ng-template ngbTabContent>
                                <jhi-client-view-timetables></jhi-client-view-timetables>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </div>
            </jhi-card>
        </div>
    </div>
</div>
