<li>
    <a id="homeLink" [ngx-scroll-to]="'#home'" [routerLink]="['/']">
        <span jhiTranslate="landing.navbar.home">Home</span>
    </a>
</li>
<li>
    <a id="featuresLink" [ngx-scroll-to]="'#features'" [routerLink]="['/']">
        <span jhiTranslate="landing.navbar.features">Features</span>
    </a>
</li>
<li>
    <a id="pricingLink" [ngx-scroll-to]="'#pricing'" [routerLink]="['/']">
        <span jhiTranslate="landing.navbar.pricing">Pricing</span>
    </a>
</li>
<li>
    <a id="contactLink" [ngx-scroll-to]="'#contact'" [routerLink]="['/']">
        <span jhiTranslate="landing.navbar.contact">Contact</span>
    </a>
</li>
