<div class="row">
    <div class="col-md-12 nopadding">
        <div class="text-center">
            <div class="float-right pull-right top-right" style="margin-top: 25px">
                <!-- Container-fluid starts -->
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- Authentication card start -->
                            <div class="login-card card-block auth-body mr-auto ml-auto">
                                <form class="form md-float-material" role="form" (ngSubmit)="login()">
                                    <div class="auth-box" style="box-shadow: none">
                                        <div class="row m-b-20">
                                            <div class="col-md-12">
                                                <h3 class="text-left txt-primary"><span
                                                    jhiTranslate="landing.login.signin">Sign in</span>
                                                </h3>
                                                <div id="authenticationErrorMessage" class="alert alert-danger" *ngIf="authenticationError">
                                                    <strong><span jhiTranslate="landing.login.signin-failed">Failed to sign in!</span></strong>
                                                    <span jhiTranslate="landing.login.signin-failed-tips">Please check your credentials and try again.</span>
                                                </div>
                                            </div>
                                        </div>
                                        <hr/>
                                        <div class="input-group">
                                            <input (keypress)="resetMessages()" type="text" class="form-control" name="username" id="username"
                                                   placeholder="{{'global.form.username.placeholder' | translate}}"
                                                   [(ngModel)]="username">
                                            <span class="md-line"></span>
                                        </div>
                                        <div class="input-group">
                                            <input (keypress)="resetMessages()" type="password" class="form-control" name="password"
                                                   id="password"
                                                   placeholder="{{'login.form.password.placeholder' | translate}}"
                                                   [(ngModel)]="password">
                                            <span class="md-line"></span>
                                        </div>
                                        <div class="row m-t-25 text-left">
                                            <div class="col-12">
                                                <div class="checkbox-fade fade-in-primary d-">
                                                    <label>
                                                        <input (click)="resetMessages()" class="form-check-input" type="checkbox"
                                                               name="rememberMe" id="rememberMe"
                                                               [(ngModel)]="rememberMe" checked>
                                                        <span class="cr">
                                                        <i class="cr-icon fa fa-check txt-primary"></i>
                                                    </span>
                                                        <span class="text-inverse"
                                                              jhiTranslate="login.form.rememberme">Remember me</span>
                                                    </label>
                                                </div>
                                                <div class="forgot-phone text-right f-right">
                                                    <a id="forgetPasswordLink" class="text-right f-w-600 text-inverse"
                                                       (click)="requestResetPassword()"
                                                       jhiTranslate="login.password.forgot">Did you forget your
                                                        password?</a></div>
                                            </div>
                                        </div>
                                        <div class="row m-t-30">
                                            <div class="col-md-12">
                                                <button id="signIn" type="submit" class="btn btn-primary"
                                                        jhiTranslate="login.form.button">Sign in
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <!-- end of form -->
                            </div>
                            <!-- Authentication card end -->
                        </div>
                        <!-- end of col-sm-12 -->
                    </div>
                    <!-- end of row -->
                </div>
                <!-- end of container-fluid -->

            </div>

            <span class="landingpage-logo" style="margin-top: 65px"></span>
            <h2 class="fadeInUp" data-wow-delay="0s" jhiTranslate="landing.title"></h2>
            <p class="fadeInUp" data-wow-delay="0.2s">
                <span jhiTranslate="landing.subtitle"></span><br class="hidden-xs">
                <span jhiTranslate="landing.subtitle-2"></span><br class="hidden-xs">
            </p>
            <a id="demoButton" class="btn btn-primary btn-action text-white disabled" data-wow-delay="0.2s"><span
                jhiTranslate="landing.services.buttons.demo-soon"></span></a>
            <a id="quotationButton" [routerLink]="['/quotation']" class="btn btn-primary btn-action" data-wow-delay="0.2s" href="#"><span
                jhiTranslate="landing.services.buttons.quotation"></span></a>
        </div>
    </div>
</div>
<div class="row" style="margin-top: 60px;">
    <div class="col-md-6 col-lg-3">
        <div class="card" style="height: 265px;">
            <div class="card-block text-center">
                <i class="fa fa-graduation-cap text-c-blue d-block f-40"></i>
                <h4 class="m-t-20"><span class="text-c-blue"
                                         jhiTranslate="landing.description.item1.title-colored"></span> <span
                    jhiTranslate="landing.description.item1.title"></span></h4>
                <p class="m-b-20"><span jhiTranslate="landing.description.item1.content"></span></p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="card" style="height: 265px;">
            <div class="card-block text-center">
                <i class="fa fa-hand-pointer-o text-c-pink d-block f-40"></i>
                <h4 class="m-t-20"><span class="text-c-pink"
                                         jhiTranslate="landing.description.item2.title-colored"></span> <span
                    jhiTranslate="landing.description.item2.title"></span></h4>
                <p class="m-b-20"><span jhiTranslate="landing.description.item2.content"></span></p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="card" style="height: 265px;">
            <div class="card-block text-center">
                <i class="fa fa-universal-access text-c-green d-block f-40"></i>
                <h4 class="m-t-20"><span class="text-c-green"
                                         jhiTranslate="landing.description.item3.title-colored"></span> <span
                    jhiTranslate="landing.description.item3.title"></span></h4>
                <p class="m-b-20"><span jhiTranslate="landing.description.item3.content"></span></p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="card" style="height: 265px;">
            <div class="card-block text-center">
                <i class="fa fa-tablet d-block f-40" style="color: #c75b58;"></i>
                <h4 class="m-t-20"><span style="color: #c75b58;"
                                         jhiTranslate="landing.description.item4.title-colored"></span><span
                    jhiTranslate="landing.description.item4.title"></span></h4>
                <p class="m-b-20"><span jhiTranslate="landing.description.item4.content"></span></p>
            </div>
        </div>
    </div>
</div>
<div class="row" id="features" style="margin-top: 40px;">
    <div class="col-sm-12">
        <div class="card">
            <div class="text-center" style="margin-top: 35px;">
                <h3 class="txt-primary"><span jhiTranslate="landing.features.title" style="color: gray;"></span></h3>
                <h6><span jhiTranslate="landing.features.title2"></span></h6>
            </div>
            <div class="row card-block">
                <div class="col-md-12 col-lg-6">
                    <div class="text-center">
                        <i class="fa fa-building text-c-pink d-block f-20" style="margin-right: 5px;"></i>
                        <h6 class="sub-title"><span jhiTranslate="landing.features.section1"></span></h6>
                    </div>
                    <ul class="basic-list list-icons text-right">
                        <li>
                            <h6><span jhiTranslate="landing.features.administration.title"></span></h6>
                            <p><span jhiTranslate="landing.features.administration.content"></span></p>
                        </li>
                        <li>
                            <h6><span jhiTranslate="landing.features.school-office.title"></span></h6>
                            <p><span jhiTranslate="landing.features.school-office.content"></span></p>
                        </li>
                        <li>
                            <h6><span jhiTranslate="landing.features.infirmary.title"></span></h6>
                            <p><span jhiTranslate="landing.features.infirmary.content"></span></p>
                        </li>
                        <li>
                            <h6><span jhiTranslate="landing.features.timetables.title"></span></h6>
                            <p><span jhiTranslate="landing.features.timetables.content"></span></p>
                        </li>
                    </ul>
                </div>
                <div class="col-md-12 col-lg-6">
                    <div class="text-center">
                        <i class="fa fa-desktop text-c-pink d-block f-20" style="margin-right: 5px;"></i>
                        <h6 class="sub-title"><span jhiTranslate="landing.features.section2"></span></h6>
                    </div>
                    <ul class="basic-list list-icons">
                        <li>
                            <h6><span jhiTranslate="landing.features.teachers.title"></span></h6>
                            <p><span jhiTranslate="landing.features.teachers.content"></span></p>
                        </li>
                        <li>
                            <h6><span jhiTranslate="landing.features.parents.title"></span></h6>
                            <p><span jhiTranslate="landing.features.parents.content"></span></p>
                        </li>
                        <li>
                            <h6><span jhiTranslate="landing.features.students.title"></span></h6>
                            <p><span jhiTranslate="landing.features.students.content"></span></p>
                        </li>
                        <li>
                            <h6><span jhiTranslate="landing.features.elearning.title"></span></h6>
                            <p><span jhiTranslate="landing.features.elearning.content"></span></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" id="pricing" style="margin-top: 40px;">
    <div class="col-sm-12">
        <div class="card">
            <div class="text-center" style="margin-top: 35px;">
                <h3 class="txt-primary"><span jhiTranslate="landing.pricing.title" style="color: gray;"></span></h3>
                <h6><span jhiTranslate="landing.pricing.title2"></span></h6>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-{{12 / pricings.length}}" *ngFor="let pricing of pricings; let i = index">
                    <div class="card center-block">
                        <div class="card-block text-center">
                            <strong><i class="{{pricing.icon.toString()}} + ' mdi-48px mdi-solid'" [ngStyle]="{color: pricing.color}"></i></strong>
                            <h4 class="m-t-20" style="height: 60px">
                                <strong>
                                    <span class="text-c-blue" [ngStyle]="{color: pricing.color}">{{pricing.titleCode|translate}}</span>
                                </strong>
                            </h4>
                        </div>
                        <div class="card-block">
                            <p class="m-b-20"><strong><span jhiTranslate="client.edit.form.contract.pricing-amount"></span> : <span [ngStyle]="{color: pricing.color}">{{pricing.intAmount}}.{{pricing.decAmount}} {{pricing.currency.code|translate}}</span></strong></p>
                            <p class="m-b-20"><strong><span jhiTranslate="client.edit.form.contract.pricing-period"></span> : <span [ngStyle]="{color: pricing.color}">{{pricing.period|translate}}</span></strong></p>
                            <h4 class="sub-title" style="margin-top: 38px"><span jhiTranslate="client.view.titles.pricing-limits"></span></h4>
                            <ul>
                                <li>
                                    <em class="icofont icofont-stylish-right text-danger"></em>
                                    <span jhiTranslate="client.view.contract.pricing.schoolOffice"></span> :
                                    <strong id="pricingSchoolOffice">{{pricing.schoolOffice}}</strong>
                                </li>
                                <li>
                                    <em class="icofont icofont-stylish-right text-danger"></em>
                                    <span jhiTranslate="client.view.contract.pricing.teachers"></span> :
                                    <strong id="pricingTeachers">{{pricing.teachers}}</strong>
                                </li>
                                <li>
                                    <em class="icofont icofont-stylish-right text-danger"></em>
                                    <span jhiTranslate="client.view.contract.pricing.administration"></span> :
                                    <strong id="pricingAdministration">{{pricing.administration}}</strong>
                                </li>
                                <li>
                                    <em class="icofont icofont-stylish-right text-danger"></em>
                                    <span jhiTranslate="client.view.contract.pricing.infirmary"></span> :
                                    <strong id="pricingInfirmary">{{pricing.infirmary}}</strong>
                                </li>
                                <li>
                                    <em class="icofont icofont-stylish-right text-danger"></em>
                                    <span jhiTranslate="client.view.contract.pricing.timetables"></span> :
                                    <strong id="pricingTimetables">{{pricing.timeTables}}</strong>
                                </li>
                            </ul>
                        </div>
                        <div class="card-block text-center">
                            <button class="btn btn-primary btn-sm" type="button" [routerLink]="['/quotation']">
                                <span jhiTranslate="landing.services.buttons.quotation"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<div class="row" id="newsletter">-->
    <!--<div class="col-md-12 text-center" style="margin-bottom: 30px;">-->
        <!--<h3 class="txt-primary"><span jhiTranslate="landing.newsletter.title" style="color: gray;">Newsletter</span></h3>-->
        <!--<h6><span jhiTranslate="landing.newsletter.content"></span></h6>-->
    <!--</div>-->
    <!--<div class="col-md-12">-->
        <!--<div class="row">-->
            <!--<div class="col-lg-2 col-md-2"></div>-->
            <!--<div class="col-md-8 col-lg-8">-->
                <!--<form (ngSubmit)="sendNewsletter(newsletterForm)" [formGroup]="newsletterForm">-->
                    <!--<div class="form-group row">-->
                        <!--<label for="newsletterEmail" class="col-sm-3 col-form-label text-right"><span jhiTranslate="landing.newsletter.email">Newsletter email</span> <span style="color: #c75b58;">*</span></label>-->
                        <!--<div class="col-sm-6">-->
                            <!--<div class="input-group input-group-button">-->
                                <!--<input type="email" id="newsletterEmail" class="form-control" formControlName="email" placeholder="{{'landing.newsletter.email-placeholder'|translate}}"-->
                                       <!--(keypress)="resetMessages()"/>-->
                                <!--<span class="input-group-addon" id="basic-addon4">-->
                                    <!--<button id="newsletterButton" type="submit" class="btn btn-primary" [disabled]="!newsletterForm.valid"><span jhiTranslate="global.buttons.ok">OK</span></button>-->
                                <!--</span>-->
                            <!--</div>-->
                            <!--<div id="newsletterError" class="messages text-danger" *ngIf="newsletterForm.controls.email.invalid && (newsletterForm.controls.email.dirty || newsletterForm.controls.email.touched)">-->
                                <!--<span jhiTranslate="landing.newsletter.email-error"></span>-->
                            <!--</div>-->
                            <!--<div id="newsletterConfirmationError" class="messages text-danger" *ngIf="newsletterError">-->
                                <!--{{newsletterError | translate}}-->
                            <!--</div>-->
                            <!--<div id="newsletterConfirmation" class="messages text-info" *ngIf="newsletterConfirmation">-->
                                <!--<span jhiTranslate="landing.newsletter.messages.ok"></span>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</form>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<div class="row" id="contact" style="margin-top: 40px;">
    <div class="col-sm-12">
        <div class="card">
            <div class="text-center" style="margin-top: 35px;">
                <h3 class="txt-primary"><span jhiTranslate="landing.contact.title" style="color: gray;"></span></h3>
            </div>
            <div class="row card-block">
                <div class="col-md-3"></div>
                <div class="col-md-offset-4 col-md-6">
                    <form (ngSubmit)="sendContact(contactForm)" [formGroup]="contactForm">
                        <div class="form-group row">
                            <label for="contactReason" class="col-sm-3 col-form-label"><span jhiTranslate="landing.contact.form.contact-reason">Contact reason</span> <span style="color: #c75b58;">*</span></label>
                            <div class="col-sm-9">
                                <select (click)="resetMessages()" formControlName="contactReason" id="contactReason" class="form-control form-control-inverse">
                                    <option [ngValue]="null" selected></option>
                                    <option *ngFor="let reason of contactReasons" [ngValue]="reason">{{reason|translate}}</option>
                                </select>
                                <div class="messages text-danger" *ngIf="contactForm.controls.contactReason.invalid && (contactForm.controls.contactReason.dirty || contactForm.controls.contactReason.touched)">
                                    <span jhiTranslate="landing.contact.form.contact-reason-error"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="name" class="col-sm-3 col-form-label"><span
                                jhiTranslate="landing.contact.form.name">Name</span> <span style="color: #c75b58;">*</span></label>
                            <div class="col-sm-9">
                                <input (keypress)="resetMessages()" type="text" id="name" class="form-control" formControlName="name"
                                       placeholder="{{'landing.contact.form.name-placeholder'|translate}}">
                                <div class="messages text-danger" *ngIf="contactForm.controls.name.invalid && (contactForm.controls.name.dirty || contactForm.controls.name.touched)">
                                    <span jhiTranslate="landing.contact.form.name-error"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label"><span
                                jhiTranslate="landing.contact.form.gender">Gender</span> <span style="color: #c75b58;">*</span></label>
                            <div class="col-sm-9">
                                <div class="form-radio">
                                    <div class="radio radio-inline" *ngFor="let sex of sexes; let i = index">
                                        <label>
                                            <input (click)="resetMessages()" type="radio" [value]="sex" [checked]="i === 0" formControlName="sex">
                                            <i class="helper"></i>{{sex|translate}}
                                        </label>
                                    </div>
                                </div>
                                <div class="messages text-danger"
                                     *ngIf="contactForm.controls.sex.invalid && (contactForm.controls.sex.dirty || contactForm.controls.sex.touched)">
                                    <span jhiTranslate="landing.contact.form.gender-error"></span></div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="email" class="col-sm-3 col-form-label"><span
                                jhiTranslate="landing.contact.form.email">Email</span> <span style="color: #c75b58;">*</span></label>
                            <div class="col-sm-9">
                                <input (keypress)="resetMessages()" type="email" id="email" class="form-control" formControlName="email"
                                       placeholder="{{'landing.contact.form.email-placeholder'|translate}}">
                                <div class="messages text-danger"
                                     *ngIf="contactForm.controls.email.invalid && (contactForm.controls.email.dirty || contactForm.controls.email.touched)">
                                    <span jhiTranslate="landing.contact.form.email-error"></span></div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="phone" class="col-sm-3 col-form-label"><span
                                jhiTranslate="landing.contact.form.phone">Phone</span></label>
                            <div class="col-sm-9">
                                <input (keypress)="resetMessages()" type="text" id="phone" class="form-control" formControlName="phone"
                                       placeholder="{{'landing.contact.form.phone-placeholder'|translate}}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="schoolName" class="col-sm-3 col-form-label"><span
                                jhiTranslate="landing.contact.form.school-name">School name</span> <span style="color: #c75b58;">*</span></label>
                            <div class="col-sm-9">
                                <input (keypress)="resetMessages()" type="text" id="schoolName" class="form-control" formControlName="schoolName"
                                       placeholder="{{'landing.contact.form.school-name-placeholder'|translate}}">
                                <div class="messages text-danger"
                                     *ngIf="contactForm.controls.schoolName.invalid && (contactForm.controls.schoolName.dirty || contactForm.controls.schoolName.touched)">
                                    <span jhiTranslate="landing.contact.form.school-name-error"></span></div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="message" class="col-sm-3 col-form-label"><span
                                jhiTranslate="landing.contact.form.message">Message</span> <span style="color: #c75b58;">*</span></label>
                            <div class="col-sm-9">
                                <textarea (keypress)="resetMessages()" id="message" class="form-control" formControlName="message"
                                          placeholder="{{'landing.contact.form.message-placeholder'|translate}}" rows="4">
                                </textarea>
                                <div class="messages text-danger"
                                     *ngIf="contactForm.controls.message.invalid && (contactForm.controls.message.dirty || contactForm.controls.message.touched)">
                                    <span jhiTranslate="landing.contact.form.message-error"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3"></label>
                            <div class="col-sm-9">
                                <button type="submit" class="btn btn-primary m-b-0"
                                        [disabled]="!contactForm.valid">
                                    <span jhiTranslate="global.buttons.ok">OK</span>
                                </button>
                            </div>
                        </div>
                        <div class="messages text-info"
                             *ngIf="contactConfirmation">
                            <span jhiTranslate="landing.contact.contact-confirmation"></span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
