<div class="page-body">
    <form (ngSubmit)="createOrUpdateSubject(subjectForm)" novalidate [formGroup]="subjectForm">
        <div class="row">
            <div class="col-sm-12">
                <div class="card-header">
                    <div class="row">
                        <div class="col-lg-8 center-block text-center" style="font-size: large">
                            <div [ngSwitch]="routeState">
                                <h2 *ngSwitchCase="'new'" class="card-header-text"><span jhiTranslate="subject.new.title"></span></h2>
                                <h2 *ngSwitchCase="'edit'" class="card-header-text"><span jhiTranslate="subject.edit.title"></span> "{{subject.name}}"</h2>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="float-right">
                                <button type="button" class="btn btn-secondary btn-mat m-b-0" id="cancel" (click)="goBack()">
                                    <i class="mdi mdi-cancel mdi-18px"></i>
                                    <span jhiTranslate="global.buttons.cancel">Cancel</span>
                                </button>
                                <button type="submit" class="btn btn-primary btn-mat m-b-0" id="submit" [disabled]="!isFormValid()">
                                        <span [ngSwitch]="routeState">
                                            <span *ngSwitchCase="'new'">
                                                <i class="mdi mdi-plus mdi-18px"></i>
                                                <span jhiTranslate="global.buttons.create">Create</span>
                                            </span>
                                            <span *ngSwitchCase="'edit'">
                                                <i class="mdi mdi-pencil-box mdi-18px"></i>
                                                <span jhiTranslate="global.buttons.update">Update</span>
                                            </span>
                                        </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <jhi-card [classHeader]="true" [cardOptionBlock]="true">
                    <div class="row">
                        <div class="col-sm-10 mobile-inputs m-t-20">
                            <div class="form-group row">
                                <label for="name" class="col-sm-4 col-form-label">
                                    <span jhiTranslate="subject.new.form.name">Subject name</span> <span style="color: #c75b58;">*</span></label>
                                <div class="col-sm-8">
                                    <input id="name" type="text" class="form-control" formControlName="name"
                                           placeholder="{{'subject.new.form.name-placeholder'|translate}}"
                                           (keypress)="resetMessages()">
                                    <div class="messages text-danger"
                                         *ngIf="subjectForm.controls.name.invalid && (subjectForm.controls.name.dirty || subjectForm.controls.name.touched)">
                                        <span jhiTranslate="subject.new.form.name-error"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="customName" class="col-sm-4 col-form-label">
                                    <span jhiTranslate="subject.new.form.customName">Subject custom name</span></label>
                                <div class="col-sm-8">
                                    <input (keypress)="resetMessages()" type="text" id="customName" class="form-control" formControlName="customName"
                                           placeholder="{{'subject.new.form.customName-placeholder'|translate}}">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="color" class="col-sm-4 col-form-label"><span jhiTranslate="subject.new.form.color">Color</span> <span style="color: #c75b58;">*</span></label>
                                <div class="col-sm-8">
                                    <input id="color" class="form-control" [cpPosition]="'bottom'" [colorPicker]="subject.color" (colorPickerChange)="rgbaTextColor=onChangeColorHex8($event, 'text')" [style.background]="rgbaTextColor" [cpAlphaChannel]="'always'" [cpOutputFormat]="'hex'" [value]="subject.color"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="bgColor" class="col-sm-4 col-form-label"><span jhiTranslate="subject.new.form.bgColor">Color</span> <span style="color: #c75b58;">*</span></label>
                                <div class="col-sm-8">
                                    <input id="bgColor" class="form-control" [cpPosition]="'bottom'"
                                           [colorPicker]="subject.bgColor"
                                           (colorPickerChange)="rgbaTextBgColor=onChangeColorHex8($event, 'background')" [style.background]="rgbaTextBgColor" [cpAlphaChannel]="'always'" [cpOutputFormat]="'hex'" [value]="subject.bgColor"/>
                                </div>
                            </div>
                            <div class="form-group row" *ngIf="subjectForm.controls.name.value">
                                <label for="example" class="col-sm-4 col-form-label" style="font-style: italic; color: #507890ff;"><span jhiTranslate="subject.new.form.example">Example</span></label>
                                <div id="example" class="col-sm-8">
                                    <div class="card-block">
                                        <div class="row text-uppercase text-center">
                                            <div class="col-md-12 waves-effect waves-light p-b-10">
                                                <div class="p-10" [ngStyle]="{'background-color':subject.bgColor, 'color': subject.color}">{{subjectForm.controls.name.value}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="grade" class="col-sm-4 col-form-label"><span jhiTranslate="subject.new.form.grade">Grade</span> <span style="color: #c75b58;">*</span></label>
                                <div class="col-sm-8">
                                    <select (click)="resetMessages()" [compareWith]="compareGradesTypes" (change)="onChangeGrade()"
                                            [formControlName]="'grade'" id="grade" class="form-control form-control-inverse">
                                        <option id="grade-{{i}}" *ngFor="let grade of grades; let i = index"
                                                [ngValue]="grade">{{grade.name}}</option>
                                    </select>
                                    <div class="messages text-danger" *ngIf="subjectForm.controls.grade.invalid && (subjectForm.controls.grade.dirty || subjectForm.controls.grade.touched)">
                                        <span jhiTranslate="subject.new.form.grade-error"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="gradeSerie" class="col-sm-4 col-form-label"><span jhiTranslate="subject.new.form.gradeSerie">GradeSerie</span></label>
                                <div class="col-sm-8">
                                    <select (click)="resetMessages()" [compareWith]="compareGradesSeriesTypes"
                                            [formControlName]="'gradeSerie'" id="gradeSerie" class="form-control form-control-inverse">
                                        <option id="gradeSerie-{{i}}" *ngFor="let gradeSerie of gradeSeries; let i = index"
                                                [ngValue]="gradeSerie.name">{{gradeSerie.name}}</option>
                                    </select>
                                    <div class="messages text-danger" *ngIf="subjectForm.controls.gradeSerie.invalid && (subjectForm.controls.gradeSerie.dirty || subjectForm.controls.gradeSerie.touched)">
                                        <span jhiTranslate="subject.new.form.gradeSerie-error"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="coefficient" class="col-sm-4 col-form-label">
                                    <span jhiTranslate="subject.new.form.coefficient">Subject coefficient</span></label>
                                <div class="col-sm-8">
                                    <input (keypress)="resetMessages()" type="number" id="coefficient" class="form-control" formControlName="coefficient"
                                           placeholder="{{'subject.new.form.coefficient-placeholder'|translate}}">
                                    <div class="messages text-danger"
                                         *ngIf="subjectForm.controls.coefficient.invalid && (subjectForm.controls.coefficient.dirty || subjectForm.controls.coefficient.touched)">
                                        <span jhiTranslate="subject.new.form.coefficient-error"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="foreignLanguage" class="col-sm-4 col-form-label">
                                    <span jhiTranslate="subject.new.form.foreignLanguage">Subject foreignLanguage</span></label>
                                <div class="col-sm-8">
                                    <mat-checkbox style="margin-top: 10px" id="foreignLanguage" formControlName="foreignLanguage"></mat-checkbox>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="minMinutesPerDay" class="col-sm-4 col-form-label">
                                    <span jhiTranslate="subject.new.form.minMinutesPerDay">Subject minMinutesPerDay</span></label>
                                <div class="col-sm-8">
                                    <input (keypress)="resetMessages()" type="number" id="minMinutesPerDay" class="form-control" formControlName="minMinutesPerDay"
                                           placeholder="{{'subject.new.form.minMinutesPerDay-placeholder'|translate}}">
                                    <div class="messages text-danger"
                                         *ngIf="subjectForm.controls.minMinutesPerDay.invalid && (subjectForm.controls.minMinutesPerDay.dirty || subjectForm.controls.minMinutesPerDay.touched)">
                                        <span jhiTranslate="subject.new.form.minMinutesPerDay-error"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="maxMinutesPerDay" class="col-sm-4 col-form-label">
                                    <span jhiTranslate="subject.new.form.maxMinutesPerDay">Subject maxMinutesPerDay</span></label>
                                <div class="col-sm-8">
                                    <input (keypress)="resetMessages()" type="number" id="maxMinutesPerDay" class="form-control" formControlName="maxMinutesPerDay"
                                           placeholder="{{'subject.new.form.maxMinutesPerDay-placeholder'|translate}}">
                                    <div class="messages text-danger"
                                         *ngIf="subjectForm.controls.maxMinutesPerDay.invalid && (subjectForm.controls.maxMinutesPerDay.dirty || subjectForm.controls.maxMinutesPerDay.touched)">
                                        <span jhiTranslate="subject.new.form.maxMinutesPerDay-error"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="maxMinutesPerWeek" class="col-sm-4 col-form-label">
                                    <span jhiTranslate="subject.new.form.minutesPerWeek">Subject minutesPerWeek</span></label>
                                <div class="col-sm-8">
                                    <input (keypress)="resetMessages()" type="number" id="minutesPerWeek" class="form-control" formControlName="minutesPerWeek"
                                           placeholder="{{'subject.new.form.minutesPerWeek-placeholder'|translate}}">
                                    <div class="messages text-danger"
                                         *ngIf="subjectForm.controls.minutesPerWeek.invalid && (subjectForm.controls.minutesPerWeek.dirty || subjectForm.controls.minutesPerWeek.touched)">
                                        <span jhiTranslate="subject.new.form.minutesPerWeek-error"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="coursesFrequencyPerWeek" class="col-sm-4 col-form-label">
                                    <span jhiTranslate="subject.new.form.coursesFrequencyPerWeek">Subject coursesFrequencyPerWeek</span></label>
                                <div class="col-sm-8">
                                    <input (keypress)="resetMessages()" type="number" id="coursesFrequencyPerWeek" class="form-control" formControlName="coursesFrequencyPerWeek"
                                           placeholder="{{'subject.new.form.coursesFrequencyPerWeek-placeholder'|translate}}">
                                    <div class="messages text-danger"
                                         *ngIf="subjectForm.controls.coursesFrequencyPerWeek.invalid && (subjectForm.controls.coursesFrequencyPerWeek.dirty || subjectForm.controls.coursesFrequencyPerWeek.touched)">
                                        <span jhiTranslate="subject.new.form.coursesFrequencyPerWeek-error"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="schoolRoomsType" class="col-sm-4 col-form-label"><span jhiTranslate="subject.new.form.schoolRoomsType">schoolRoomsType</span> <span style="color: #c75b58;">*</span></label>
                                <div class="col-sm-8">
                                    <mat-form-field id="schoolRoomsType" class="input-group">
                                        <mat-select placeholder="{{'subject.new.form.school-room-type-placeholder'|translate}}" multiple
                                                    [compareWith]="compareSchoolRoomsTypeFn"
                                                    matInput formControlName="schoolRoomsTypes">
                                            <mat-option *ngFor="let schoolRoomsType of schoolRoomsTypes" [value]="schoolRoomsType">{{schoolRoomsType.code | translate}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <div class="messages text-danger" *ngIf="subjectForm.controls.grade.invalid && (subjectForm.controls.grade.dirty || subjectForm.controls.grade.touched)">
                                        <span jhiTranslate="subject.new.form.grade-error"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </jhi-card>
            </div>
        </div>
    </form>
</div>
