<div class="form-group row">
    <label for="academicYear" class="col-sm-2 col-form-label">
        <span [jhiTranslate]="label">Scholar year</span> <span style="color: #c75b58;">*</span>
    </label>
    <div class="col-sm-4">
        <div class="row float-right" *ngIf="!displaySelect">
            <h4 *ngIf="selectedDate">{{selectedDate.startYear}} / {{selectedDate.endYear}}</h4>
        </div>
        <div class="row float-right" *ngIf="displaySelect">
            <select id="academicYear" *ngIf="acYears" class="form-control" name="repeatSelect"
                    [(ngModel)]="selectedDate" (change)="changeDates(false)">
                <option [ngValue]="acYears.current">{{acYears.current.startYear}} / {{acYears.current.endYear}}</option>
                <option [ngValue]="acYears.next">{{acYears.next.startYear}} / {{acYears.next.endYear}}</option>
            </select>
        </div>
    </div>
    <div class="col-sm-2 float-right" *ngIf="!displaySelect">
        <a href="javascript:void(0)" (click)="changeDates(true)" jhiTranslate="global.form.to-change"></a>
    </div>
    <div class="col-sm-2 float-right" *ngIf="displaySelect">
        <a href="javascript:void(0)" (click)="discardChangeDates()" jhiTranslate="global.form.discard"></a>
    </div>
</div>
