<div class="m-t-15">
    <div class="view-info">
        <div class="row">
            <div class="col-lg-12">
                <div class="general-info">
                    <div class="row">
                        <div class="col-lg-12 col-xl-12">
                            <div class="form-group row">
                                <div class="col-sm-12 col-xl-6">
                                    <h4 class="sub-title"><span jhiTranslate="client.view.contract.dates"></span></h4>
                                    <ul>
                                        <li>
                                            <em class="icofont icofont-stylish-right text-danger"></em>
                                            <span jhiTranslate="client.view.contract.globalPeriodStart"></span> :
                                            <strong id="globalPeriodStart">{{client.contract.globalPeriodStart|date: dateHelper.dateFormat()}}</strong>
                                        </li>
                                        <li *ngIf="client.contract.globalPeriodEnd">
                                            <em class="icofont icofont-stylish-right text-danger"></em>
                                            <span jhiTranslate="client.view.contract.globalPeriodEnd"></span> :
                                            <strong id="globalPeriodEnd">{{client.contract.globalPeriodEnd|date: dateHelper.dateFormat()}}</strong>
                                        </li>
                                        <li>
                                            <em class="icofont icofont-stylish-right text-danger"></em>
                                            <span jhiTranslate="client.view.contract.currentPeriodStart"></span> :
                                            <strong id="currentPeriodStart">{{client.contract.currentPeriodStart|date: dateHelper.dateFormat()}}</strong>
                                        </li>
                                        <li>
                                            <em class="icofont icofont-stylish-right text-danger"></em>
                                            <span jhiTranslate="client.view.contract.currentPeriodEnd"></span> :
                                            <strong id="currentPeriodEnd">{{client.contract.currentPeriodEnd|date: dateHelper.dateFormat()}}</strong>
                                        </li>
                                    </ul>
                                    <h4 class="sub-title" style="margin-top: 38px"><span jhiTranslate="client.view.contract.billing"></span></h4>
                                    <ul>
                                        <li>
                                            <em class="icofont icofont-stylish-right text-danger"></em>
                                            <span jhiTranslate="client.view.contract.vatNumber"></span> :
                                            <strong id="vatNumber">{{client.contract.vatNumber}}</strong>
                                        </li>
                                        <li>
                                            <em class="icofont icofont-stylish-right text-danger"></em>
                                            <span jhiTranslate="client.view.contract.currentPeriodOverdue"></span> :
                                            <strong id="currentPeriodOverdue">{{client.contract.currentPeriodOverdue}} {{client.contract.pricing.currency.symbol}}</strong>
                                        </li>
                                        <li>
                                            <em class="icofont icofont-stylish-right text-danger"></em>
                                            <span jhiTranslate="client.view.contract.globalOverdue"></span> :
                                            <strong id="globalOverdue">{{client.contract.globalOverdue}} {{client.contract.pricing.currency.symbol}}</strong>
                                        </li>
                                    </ul>
                                    <h4 class="sub-title" style="margin-top: 38px"><span jhiTranslate="client.view.titles.contract-state"></span></h4>
                                    <ul>
                                        <li>
                                            <em class="icofont icofont-stylish-right text-danger"></em>
                                            <span jhiTranslate="client.view.contract.signature"></span> :
                                            <strong *ngIf="client.contract.signed" jhiTranslate="global.yes"></strong>
                                            <strong *ngIf="!client.contract.signed" jhiTranslate="global.no" class="color: make-me-red"></strong>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-sm-12 col-xl-6">
                                    <div class="float-right">
                                        <button class="btn btn-primary btn-mat float-right" id="edit-btn" *ngIf="!requestPending"
                                                [routerLink]='["/school-account/contract/edit", client.id]'>
                                            <i class="mdi mdi-pencil-box mdi-18px"></i> {{'client.view.buttons.edit-contract'|translate}}
                                        </button>
                                        <span style="color: red" *ngIf="requestPending" jhiTranslate="client.edit.form.contract.request-pending"></span>
                                    </div>
                                    <h4 class="sub-title"><span jhiTranslate="client.view.titles.academic-year"></span></h4>
                                    <ul>
                                        <li>
                                            <em class="icofont icofont-stylish-right text-danger"></em>
                                            <span jhiTranslate="client.view.contract.academic-year"></span>
                                            <strong id="academicYear">{{client.contract.academicYear.startYear}} - {{client.contract.academicYear.endYear}}</strong>
                                        </li>
                                        <li>
                                            <em class="icofont icofont-stylish-right text-danger"></em>
                                            <span jhiTranslate="client.view.contract.startDateMin"></span>
                                            <strong id="startDateMin">{{client.contract.academicYear.startDateMin|date: dateHelper.dateFormat()}}</strong>
                                        </li>
                                        <li>
                                            <em class="icofont icofont-stylish-right text-danger"></em>
                                            <span jhiTranslate="client.view.contract.startDateMax"></span>
                                            <strong id="startDateMax">{{client.contract.academicYear.startDateMax|date: dateHelper.dateFormat()}}</strong>
                                        </li>
                                        <li>
                                            <em class="icofont icofont-stylish-right text-danger"></em>
                                            <span jhiTranslate="client.view.contract.endDate"></span>
                                            <strong id="endDate">{{client.contract.academicYear.endDate|date: dateHelper.dateFormat()}}</strong>
                                        </li>
                                    </ul>
                                    <h4 class="sub-title" style="margin-top: 38px"><span jhiTranslate="client.view.titles.pricing"></span></h4>
                                    <ul>
                                        <li>
                                            <em class="icofont icofont-stylish-right text-danger"></em>
                                            <span jhiTranslate="client.view.contract.pricing.titleCode"></span> :
                                            <strong id="pricingTitleCode">{{client.contract.pricing.titleCode|translate}}</strong>
                                        </li>
                                        <li>
                                            <em class="icofont icofont-stylish-right text-danger"></em>
                                            <span jhiTranslate="client.view.contract.pricing.amount"></span> :
                                            <strong id="pricingAmount">{{client.contract.pricing.intAmount}}.{{client.contract.pricing.decAmount}} {{client.contract.pricing.currency.code|translate}}</strong>
                                        </li>
                                        <li>
                                            <em class="icofont icofont-stylish-right text-danger"></em>
                                            <span jhiTranslate="client.view.contract.pricing.period"></span> :
                                            <strong id="pricingPeriod">{{client.contract.pricing.period|translate}}</strong>
                                        </li>
                                    </ul>
                                    <h4 class="sub-title" style="margin-top: 38px"><span jhiTranslate="client.view.titles.pricing-limits"></span></h4>
                                    <ul>
                                        <li>
                                            <em class="icofont icofont-stylish-right text-danger"></em>
                                            <span jhiTranslate="client.view.contract.pricing.schoolOffice"></span> :
                                            <strong id="pricingSchoolOffice">{{client.contract.pricing.schoolOffice}}</strong>
                                        </li>
                                        <li>
                                            <em class="icofont icofont-stylish-right text-danger"></em>
                                            <span jhiTranslate="client.view.contract.pricing.teachers"></span> :
                                            <strong id="pricingTeachers">{{client.contract.pricing.teachers}}</strong>
                                        </li>
                                        <li>
                                            <em class="icofont icofont-stylish-right text-danger"></em>
                                            <span jhiTranslate="client.view.contract.pricing.administration"></span> :
                                            <strong id="pricingAdministration">{{client.contract.pricing.administration}}</strong>
                                        </li>
                                        <li>
                                            <em class="icofont icofont-stylish-right text-danger"></em>
                                            <span jhiTranslate="client.view.contract.pricing.infirmary"></span> :
                                            <strong id="pricingInfirmary">{{client.contract.pricing.infirmary}}</strong>
                                        </li>
                                        <li>
                                            <em class="icofont icofont-stylish-right text-danger"></em>
                                            <span jhiTranslate="client.view.contract.pricing.timetables"></span> :
                                            <strong id="pricingTimetables">{{client.contract.pricing.timeTables}}</strong>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
