<div class="m-t-15">
    <div class="view-info">
        <div class="row">
            <div class="col-lg-12">
                <div class="general-info">
                    <div class="row">
                        <div class="col-lg-12 col-xl-12">
                            <div class="form-group row">
                                <div class="col-sm-12 col-xl-6">
                                    <h4 class="sub-title"><span jhiTranslate="client.view.titles.basic-infos"></span></h4>
                                    <ul>
                                        <li>
                                            <em class="icofont icofont-stylish-right text-danger"></em>
                                            <span jhiTranslate="client.view.name"></span> :
                                            <strong id="name">{{client.name}}</strong>
                                        </li>
                                    </ul>
                                    <h4 class="sub-title" style="margin-top: 38px"><span jhiTranslate="client.view.titles.address"></span></h4>
                                    <ul>
                                        <li>
                                            <em class="icofont icofont-stylish-right text-danger"></em>
                                            <span jhiTranslate="client.view.address-name"></span> :
                                            <strong id="address">{{client.address.name}}</strong>
                                        </li>
                                        <li>
                                            <em class="icofont icofont-stylish-right text-danger"></em>
                                            <span jhiTranslate="client.view.address-postalCode"></span> :
                                            <strong id="postalCode">{{client.address.postalCode}}</strong>
                                        </li>
                                        <li>
                                            <em class="icofont icofont-stylish-right text-danger"></em>
                                            <span jhiTranslate="client.view.address-city"></span> :
                                            <strong id="city">{{client.address.city}}</strong>
                                        </li>
                                        <li>
                                            <em class="icofont icofont-stylish-right text-danger"></em>
                                            <span jhiTranslate="client.view.address-country"></span> :
                                            <strong id="country">{{client.address.country}}</strong>
                                        </li>
                                    </ul>
                                    <h4 class="sub-title" style="margin-top: 38px"><span jhiTranslate="client.view.titles.units"></span></h4>
                                    <ul>
                                        <li>
                                            <em class="icofont icofont-stylish-right text-danger"></em>
                                            <span jhiTranslate="client.view.surfacesMeasurementUnit"></span> :
                                            <strong>{{client.surfacesMeasurementUnit|translate}}</strong>
                                        </li>
                                        <li>
                                            <em class="icofont icofont-stylish-right text-danger"></em>
                                            <span jhiTranslate="client.view.distancesMeasurementUnit"></span> :
                                            <strong>{{client.distancesMeasurementUnit|translate}}</strong>
                                        </li>
                                        <li>
                                            <em class="icofont icofont-stylish-right text-danger"></em>
                                            <span jhiTranslate="client.view.majorityAge"></span> :
                                            <strong>{{client.majorityAge}}</strong>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-sm-12 col-xl-6">
                                    <div class="float-right">
                                        <button class="btn btn-primary btn-mat" id="edit-btn"
                                                [routerLink]='["/school-account/infos/edit", client.id]'>
                                            <i class="mdi mdi-pencil-box mdi-18px"></i> {{'client.view.buttons.edit-infos'|translate}}
                                        </button>
                                    </div>
                                    <h4 class="sub-title"><span jhiTranslate="client.view.titles.contact"></span></h4>
                                    <ul>
                                        <li>
                                            <em class="icofont icofont-stylish-right text-danger"></em>
                                            <span jhiTranslate="client.view.contacts-by-title"></span> :
                                            <ul style="margin-left: 40px">
                                                <li *ngFor="let contactBy of client.contactsBy">
                                                    <strong>{{contactBy.code | translate}}</strong>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <em class="icofont icofont-stylish-right text-danger"></em>
                                            <span jhiTranslate="client.view.phones-title"></span> :
                                            <ul style="margin-left: 40px">
                                                <li *ngFor="let phone of client.phones">
                                                    <strong>{{phone.name}}</strong> : {{phone.number}}
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <em class="icofont icofont-stylish-right text-danger"></em>
                                            <span jhiTranslate="client.view.emails-title"></span> :
                                            <ul style="margin-left: 40px">
                                                <li *ngFor="let email of client.emails">
                                                    <strong>{{email.name}}</strong> : {{email.link}}
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <em class="icofont icofont-stylish-right text-danger"></em>
                                            <span jhiTranslate="client.view.principalWebsite"></span>
                                            <strong id="principalWebsite">{{client.principalWebsite}}</strong>
                                        </li>
                                        <li>
                                            <em class="icofont icofont-stylish-right text-danger"></em>
                                            <span jhiTranslate="client.view.websites-title"></span> :
                                            <ul style="margin-left: 40px">
                                                <li *ngFor="let website of client.websites">
                                                    <strong>{{website.name}}</strong> : {{website.link}}
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
