<div class="page-body">
    <form (ngSubmit)="updateClientContract()" novalidate [formGroup]="clientForm">
        <div class="row">
            <div class="col-sm-12">
                <div class="card-header">
                    <div class="row">
                        <div class="col-lg-8 center-block text-center" style="font-size: large">
                            <h2 class="card-header-text">
                                <span jhiTranslate="client.edit.form.contract.title"></span> : {{client.name}}
                            </h2>
                        </div>
                        <div class="col-lg-4">
                            <div class="float-right">
                                <button type="button" class="btn btn-secondary btn-mat m-b-0" id="cancel"
                                        (click)="goBack()">
                                    <em class="mdi mdi-cancel mdi-18px"></em>
                                    <span jhiTranslate="global.buttons.cancel">Cancel</span>
                                </button>
                                <button type="submit" class="btn btn-primary btn-mat m-b-0" id="submit"
                                        [disabled]="!clientForm.valid">
                                    <em class="mdi mdi-pencil-box mdi-18px"></em>
                                    <span jhiTranslate="global.buttons.update">Update</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <jhi-card [classHeader]="true" [cardOptionBlock]="true">
                    <div class="row">
                        <div class="col-sm-10 mobile-inputs m-t-20">
                            <div class="form-group row">
                                <label for="vatNumber" class="col-sm-4 col-form-label">
                                    <span jhiTranslate="client.edit.form.contract.vatNumber">vatNumber</span></label>
                                <div class="col-sm-8">
                                    <input id="vatNumber" type="text" class="form-control" formControlName="vatNumber"
                                           placeholder="{{'client.edit.form.contract.vatNumber-placeholder'|translate}}"
                                           (keypress)="resetMessages()">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="startDateMin" class="col-sm-4 col-form-label">
                                    <span jhiTranslate="client.edit.form.contract.startDateMin">startDateMin</span> <span style="color: #c75b58;">*</span>
                                </label>
                                <div class="col-sm-3">
                                    <mat-form-field class="input-group">
                                        <input id="startDateMin" matInput [matDatepicker]="startDateMinDatePicker"
                                               placeholder="{{'client.edit.form.contract.startDateMin-placeholder'|translate}}"
                                               formControlName="startDateMin" (click)="startDateMinDatePicker.open()" class="form-control">
                                        <mat-datepicker-toggle matSuffix [for]="startDateMinDatePicker"></mat-datepicker-toggle>
                                        <mat-datepicker #startDateMinDatePicker></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="startDateMax" class="col-sm-4 col-form-label">
                                    <span jhiTranslate="client.edit.form.contract.startDateMax">startDateMax</span> <span style="color: #c75b58;">*</span>
                                </label>
                                <div class="col-sm-3">
                                    <mat-form-field class="input-group">
                                        <input id="startDateMax" matInput [matDatepicker]="startDateMaxDatePicker"
                                               placeholder="{{'client.edit.form.contract.startDateMax-placeholder'|translate}}"
                                               formControlName="startDateMax" (click)="startDateMaxDatePicker.open()" class="form-control">
                                        <mat-datepicker-toggle matSuffix [for]="startDateMaxDatePicker"></mat-datepicker-toggle>
                                        <mat-datepicker #startDateMaxDatePicker></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="endDate" class="col-sm-4 col-form-label">
                                    <span jhiTranslate="client.edit.form.contract.endDate">endDate</span> <span style="color: #c75b58;">*</span>
                                </label>
                                <div class="col-sm-3">
                                    <mat-form-field class="input-group">
                                        <input id="endDate" matInput [matDatepicker]="endDateDatePicker"
                                               placeholder="{{'client.edit.form.contract.endDate-placeholder'|translate}}"
                                               formControlName="endDate" (click)="endDateDatePicker.open()" class="form-control">
                                        <mat-datepicker-toggle matSuffix [for]="endDateDatePicker"></mat-datepicker-toggle>
                                        <mat-datepicker #endDateDatePicker></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 mobile-inputs m-t-20">
                            <div class="row">
                                <div class="col-md-6 col-lg-{{12 / pricings.length}}" *ngFor="let pricing of pricings; let i = index">
                                    <div class="card center-block">
                                        <div class="card-block text-center">
                                            <strong><i class="{{pricing.icon.toString()}} + ' mdi-48px mdi-solid'" [ngStyle]="{color: pricing.color}"></i></strong>
                                            <h4 class="m-t-20" style="height: 60px">
                                                <strong>
                                                    <span class="text-c-blue" [ngStyle]="{color: pricing.color}">{{pricing.titleCode|translate}}</span>
                                                </strong>
                                            </h4>
                                        </div>
                                        <div class="card-block">
                                            <p class="m-b-20"><strong><span jhiTranslate="client.edit.form.contract.pricing-amount"></span> : <span [ngStyle]="{color: pricing.color}">{{pricing.intAmount}}.{{pricing.decAmount}} {{pricing.currency.code|translate}}</span></strong></p>
                                            <p class="m-b-20"><strong><span jhiTranslate="client.edit.form.contract.pricing-period"></span> : <span [ngStyle]="{color: pricing.color}">{{pricing.period|translate}}</span></strong></p>
                                            <h4 class="sub-title" style="margin-top: 38px"><span jhiTranslate="client.view.titles.pricing-limits"></span></h4>
                                            <ul>
                                                <li>
                                                    <em class="icofont icofont-stylish-right text-danger"></em>
                                                    <span jhiTranslate="client.view.contract.pricing.schoolOffice"></span> :
                                                    <strong id="pricingSchoolOffice">{{pricing.schoolOffice}}</strong>
                                                </li>
                                                <li>
                                                    <em class="icofont icofont-stylish-right text-danger"></em>
                                                    <span jhiTranslate="client.view.contract.pricing.teachers"></span> :
                                                    <strong id="pricingTeachers">{{pricing.teachers}}</strong>
                                                </li>
                                                <li>
                                                    <em class="icofont icofont-stylish-right text-danger"></em>
                                                    <span jhiTranslate="client.view.contract.pricing.administration"></span> :
                                                    <strong id="pricingAdministration">{{pricing.administration}}</strong>
                                                </li>
                                                <li>
                                                    <em class="icofont icofont-stylish-right text-danger"></em>
                                                    <span jhiTranslate="client.view.contract.pricing.infirmary"></span> :
                                                    <strong id="pricingInfirmary">{{pricing.infirmary}}</strong>
                                                </li>
                                                <li>
                                                    <em class="icofont icofont-stylish-right text-danger"></em>
                                                    <span jhiTranslate="client.view.contract.pricing.timetables"></span> :
                                                    <strong id="pricingTimetables">{{pricing.timeTables}}</strong>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="card-block text-center">
                                            <button *ngIf="!isOtherPricingClicked(pricing.id) && pricing.id !== client.contract.pricing.id"
                                                    class="btn btn-primary btn-sm" type="button"
                                                    (click)="changePricing(pricing.id)">
                                                <span *ngIf="pricing.position < client.contract.pricing.position" jhiTranslate="client.edit.form.contract.pricing-downgrade"></span>
                                                <span *ngIf="pricing.position > client.contract.pricing.position" jhiTranslate="client.edit.form.contract.pricing-upgrade"></span>
                                            </button>
                                            <button *ngIf="isOtherPricingClicked(pricing.id)"
                                                    class="btn btn-danger btn-sm" type="button" (click)="cancelWantedPricing()">
                                                <span jhiTranslate="client.edit.form.contract.pricing-cancel-change"></span>
                                            </button>
                                            <p *ngIf="pricing.id === client.contract.pricing.id" style="color: #791312"><strong><span jhiTranslate="client.edit.form.contract.your-pricing"></span></strong></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </jhi-card>
                <div class="card-header">
                    <div class="row">
                        <div class="col-lg-8 center-block text-center">
                        </div>
                        <div class="col-lg-4">
                            <div class="float-right">
                                <button type="button" class="btn btn-secondary btn-mat m-b-0" id="cancel-2"
                                        (click)="goBack()">
                                    <em class="mdi mdi-cancel mdi-18px"></em>
                                    <span jhiTranslate="global.buttons.cancel">Cancel</span>
                                </button>
                                <button type="submit" class="btn btn-primary btn-mat m-b-0" id="submit-2"
                                        [disabled]="!clientForm.valid">
                                    <em class="mdi mdi-pencil-box mdi-18px"></em>
                                    <span jhiTranslate="global.buttons.update">Update</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
