<div class="page-body">
    <form novalidate [formGroup]="schoolRoomForm">
        <div class="row">
            <div class="col-sm-12">
                <div class="card-header">
                    <div class="row">
                        <div class="col-lg-8 center-block text-center" style="font-size: large">
                            <div [ngSwitch]="routeState">
                                <h2 *ngSwitchCase="'new'" class="card-header-text">
                                    <span jhiTranslate="schoolRoom.new.title"></span>
                                    <span *ngIf="schoolRoomForm.controls.name.value">"{{schoolRoomForm.controls.name.value}}"</span>
                                </h2>
                                <h2 *ngSwitchCase="'edit'" class="card-header-text">
                                    <span jhiTranslate="schoolRoom.edit.title"></span>
                                    <span *ngIf="schoolRoomForm.controls.name.value">"{{schoolRoomForm.controls.name.value}}"</span>
                                </h2>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="float-right">
                                <button type="button" class="btn btn-secondary btn-mat m-b-0" id="cancel" (click)="goBack()">
                                    <i class="mdi mdi-cancel mdi-18px"></i>
                                    <span jhiTranslate="global.buttons.cancel">Cancel</span>
                                </button>
                                <button type="submit" class="btn btn-primary btn-mat m-b-0" id="submit" [disabled]="!schoolRoomForm.valid"
                                        (click)="createOrUpdateSchoolRoom()">
                                    <span [ngSwitch]="routeState">
                                        <span *ngSwitchCase="'new'">
                                            <i class="mdi mdi-plus mdi-18px"></i>
                                            <span jhiTranslate="global.buttons.create">Create</span>
                                        </span>
                                        <span *ngSwitchCase="'edit'">
                                            <i class="mdi mdi-pencil-box mdi-18px"></i>
                                            <span jhiTranslate="global.buttons.update">Update</span>
                                        </span>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <jhi-card [classHeader]="true" [cardOptionBlock]="true">
<!--                    <div class="row">-->
<!--                        <div class="col-sm-12">-->
<!--                            <div class="form-group float-right">-->
<!--                                &lt;!&ndash;                                    <button type="button" class="btn btn-info btn-mat m-b-0">&ndash;&gt;-->
<!--                                &lt;!&ndash;                                            (click)="enableAddingDistancesToSchoolRoom()" &ndash;&gt;-->
<!--                                &lt;!&ndash;                                            *ngIf="!canAddDistances"&ndash;&gt;-->
<!--                                &lt;!&ndash;                                        <i class="mdi mdi-arrow-all mdi-18px"></i> <span jhiTranslate="schoolRoom.new.form.add-distances">Add distances to other rooms</span>&ndash;&gt;-->
<!--                                &lt;!&ndash;                                    </button>&ndash;&gt;-->
<!--                                <button type="submit" class="btn btn-primary btn-mat m-b-0"-->
<!--                                        [disabled]="!schoolRoomForm.valid">-->
<!--                                    &lt;!&ndash;                                            *ngIf="!canAddDistances"&ndash;&gt;-->
<!--                                    <i class="mdi mdi-folder-plus mdi-18px"></i> <span jhiTranslate="global.buttons.create">Create</span>-->
<!--                                </button>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="row">
                        <div class="col-sm-6 mobile-inputs m-t-20">
                            <div class="form-group row">
                                <label for="name" class="col-sm-2 col-form-label">
                                    <span jhiTranslate="schoolRoom.new.form.name">School room name</span> <span style="color: #c75b58;">*</span></label>
                                <div class="col-sm-10">
                                    <input (keypress)="resetMessages()" type="text" id="name" class="form-control" formControlName="name"
                                           placeholder="{{'schoolRoom.new.form.name-placeholder'|translate}}">
                                    <div class="messages text-danger"
                                         *ngIf="schoolRoomForm.controls.name.invalid && (schoolRoomForm.controls.name.dirty || schoolRoomForm.controls.name.touched)">
                                        <span jhiTranslate="schoolRoom.new.form.name-error"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="type" class="col-sm-2 col-form-label"><span jhiTranslate="schoolRoom.new.form.type">Type</span> <span style="color: #c75b58;">*</span></label>
                                <div class="col-sm-10">
                                    <select (click)="resetMessages()" [compareWith]="compareSchoolRoomsTypes"
                                            [formControlName]="'type'" id="type" class="form-control form-control-inverse">
                                        <option *ngFor="let type of schoolRoomsTypes"
                                                [ngValue]="type">{{type.code|translate}}</option>
                                    </select>
                                    <div class="messages text-danger" *ngIf="schoolRoomForm.controls.type.invalid && (schoolRoomForm.controls.type.dirty || schoolRoomForm.controls.type.touched)">
                                        <span jhiTranslate="schoolRoom.new.form.type-error"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="surface" class="col-sm-2 col-form-label">
                                    <span jhiTranslate="schoolRoom.new.form.surface">School room surface</span>
                                    <span *ngIf="client.surfacesMeasurementUnit">(<span jhiTranslate="{{client.surfacesMeasurementUnit}}"></span>)</span>
                                </label>
                                <div class="col-sm-10">
                                    <input (keypress)="resetMessages()" type="number" id="surface" class="form-control" formControlName="surface"
                                           placeholder="{{'schoolRoom.new.form.surface-placeholder'|translate}}">
                                    <div class="messages text-danger" *ngIf="schoolRoomForm.controls.surface.invalid && (schoolRoomForm.controls.surface.dirty || schoolRoomForm.controls.surface.touched)">
                                        <span jhiTranslate="schoolRoom.new.form.seats-error"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="seats" class="col-sm-2 col-form-label">
                                    <span jhiTranslate="schoolRoom.new.form.seats">School room seats</span></label>
                                <div class="col-sm-10">
                                    <input (keypress)="resetMessages()" type="number" id="seats" class="form-control" formControlName="seats"
                                           placeholder="{{'schoolRoom.new.form.seats-placeholder'|translate}}">
                                    <div class="messages text-danger" *ngIf="schoolRoomForm.controls.seats.invalid && (schoolRoomForm.controls.seats.dirty || schoolRoomForm.controls.seats.touched)">
                                        <span jhiTranslate="schoolRoom.new.form.seats-error"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 mobile-inputs m-t-20">
                            <div class="form-group row">
                                <label for="closed" class="col-sm-2 col-form-label">
                                    <span jhiTranslate="schoolRoom.new.form.closed">School room closed</span></label>
                                <div class="col-sm-10">
                                    <ui-switch id="closed" class="js-danger" color="red" size="medium" [formControlName]="'closed'" ngDefaultControl></ui-switch>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="comment" class="col-sm-2 col-form-label">
                                    <span jhiTranslate="schoolRoom.new.form.comment">Comment</span></label>
                                <div class="col-sm-10">
                                    <textarea (keypress)="resetMessages()" id="comment" class="form-control" formControlName="comment"
                                              placeholder="{{'schoolRoom.new.form.comment-placeholder'|translate}}" rows="3">
                                    </textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="longitude" class="col-sm-2 col-form-label">
                                    <span jhiTranslate="schoolRoom.new.form.longitude">School room longitude</span></label>
                                <div class="col-sm-10">
                                    <input (keypress)="resetMessages()" type="text" id="longitude" class="form-control" formControlName="longitude"
                                           placeholder="{{'schoolRoom.new.form.longitude-placeholder'|translate}}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="latitude" class="col-sm-2 col-form-label">
                                    <span jhiTranslate="schoolRoom.new.form.latitude">School room latitude</span></label>
                                <div class="col-sm-10">
                                    <input (keypress)="resetMessages()" type="text" id="latitude" class="form-control" formControlName="latitude"
                                           placeholder="{{'schoolRoom.new.form.latitude-placeholder'|translate}}">
                                </div>
                            </div>
                            <div class="messages text-info"
                                 *ngIf="schoolRoomCreateConfirmation">
                                <span jhiTranslate="schoolRoom.new.form.new-school-room-confirmation"></span>
                            </div>
                        </div>
                    </div>
                </jhi-card>
            </div>
        </div>
<!--        <div class="row" *ngIf="canAddDistances">-->
<!--            <div class="col-sm-12">-->
<!--                <jhi-card [classHeader]="true" [cardOptionBlock]="true" [title]="'schoolRoom.new.form.school-room-distances'|translate">-->
<!--                    <div class="alert alert-info" *ngIf="showDistancesAlert">-->
<!--                        <button type="button" class="close" (click)="showDistancesAlert = false">-->
<!--                            <i class="mdi mdi-close"></i>-->
<!--                        </button>-->
<!--                        <span jhiTranslate="schoolRoom.new.form.distances-alert"></span>-->
<!--                    </div>-->
<!--                    <div class="row">-->
<!--                        <div class="col-sm-12 mobile-inputs m-t-20" [formArrayName]="'distances'">-->
<!--                            <button type="button"-->
<!--                                    class="btn btn-primary btn-sm" style="margin-bottom: 10px;" (click)="addDistance()"-->
<!--                                    [disabled]="!schoolRoomForm.valid || !schoolRoomsAutocomplete.length">-->
<!--                                <i class="mdi mdi-plus"></i> <span jhiTranslate="schoolRoom.new.form.add-distance"></span>-->
<!--                            </button>-->
                            <!-- <table class="table table-columned table-bordered table-condensed" *ngIf="!!schoolRoomForm.get('distances')['controls'].length">
                                <thead>
                                    <tr>
                                        <td><span class="text-center" jhiTranslate="schoolRoom.new.form.school-room-name"></span></td>
                                        <td>
                                            <span class="text-center" jhiTranslate="schoolRoom.new.form.distance"></span>
                                            <span *ngIf="client.distancesMeasurementUnit">(<span jhiTranslate="{{client.distancesMeasurementUnit}}"></span>)</span>
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let distance of distancesControls(); let i = index" [formGroupName]="i">
                                        <td>
                                            <div class="col-sm-12">
                                                <mat-form-field id="grades" class="input-group">
                                                    <mat-select placeholder="{{'schoolRoom.new.form.search-or-add-school-room-name'|translate}}"
                                                                [compareWith]="compareSchoolRoomsNames"
                                                                matInput formControlName="schoolRoomName">
                                                        <mat-option
                                                            *ngFor="let schoolRoomForDistance of schoolRoomsAutocomplete"
                                                            [value]="schoolRoomForDistance.name"
                                                            (onSelectionChange)="updateSchoolRoomsAutocomplete(schoolRoomForDistance)">{{schoolRoomForDistance.name}}</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="col-sm-8">
                                                <input (keypress)="resetMessages()"
                                                       type="number" id="schoolRoomDistance-{{i}}" class="form-control" formControlName="distance"
                                                       placeholder="{{'schoolRoom.new.form.type-distance'|translate}}">
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>-->
<!--                            <button type="button" [disabled]="!schoolRoomForm.valid || !schoolRoomsAutocomplete.length"-->
<!--                                    class="btn btn-primary btn-sm" style="margin-bottom: 10px;" (click)="addDistance()"-->
<!--                                    *ngIf="schoolRoomForm.get('distances') && !!schoolRoomForm.get('distances')['controls'].length">-->
<!--                                <i class="mdi mdi-plus"></i> <span jhiTranslate="schoolRoom.new.form.add-distance"></span>-->
<!--                            </button>-->
<!--                            <button type="button"-->
<!--                                    class="btn btn-danger btn-sm" style="margin-bottom: 10px;" (click)="removeDistance()"-->
<!--                                    *ngIf="schoolRoomForm.get('distances') && !!schoolRoomForm.get('distances')['controls'].length">-->
<!--                                <i class="mdi mdi-minus"></i> <span jhiTranslate="schoolRoom.new.form.remove-distance"></span>-->
<!--                            </button>-->
<!--                            <div class="form-group row float-right">-->
<!--                                <div class="col-sm-12">-->
<!--                                    <button type="button" class="btn btn-secondary btn-mat m-b-0" (click)="goBack()">-->
<!--                                        <i class="mdi mdi-cancel mdi-18px"></i>-->
<!--                                        <span jhiTranslate="global.buttons.cancel">Cancel</span>-->
<!--                                    </button>-->
<!--                                    <button type="submit" class="btn btn-primary btn-mat m-b-0" *ngIf="canAddDistances"-->
<!--                                            [disabled]="!schoolRoomForm.valid">-->
<!--                                        <span [ngSwitch]="routeState">-->
<!--                                            <span *ngSwitchCase="'new'">-->
<!--                                                <i class="mdi mdi-plus mdi-18px"></i>-->
<!--                                                <span jhiTranslate="global.buttons.create">Create</span>-->
<!--                                            </span>-->
<!--                                            <span *ngSwitchCase="'edit'">-->
<!--                                                <i class="mdi mdi-pencil-box mdi-18px"></i>-->
<!--                                                <span jhiTranslate="global.buttons.update">Update</span>-->
<!--                                            </span>-->
<!--                                        </span>-->
<!--                                    </button>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </jhi-card>-->
<!--            </div>-->
<!--        </div>-->
    </form>
</div>

