<div class="page-body">
    <div class="row">
        <div class="col-sm-12">
            <jhi-card [classHeader]="true">
                <form>
                    <div class="row">
                        <h4 class="col-sm-12 center-block text-center"><span jhiTranslate="schoolRoom.home.title"></span> </h4>
                        <div class="col-sm-12">
                            <label class="dt-cust-search f-right">
                                <span class="form-group">
                                    <label><span jhiTranslate="global.form.search"></span></label>
                                    <input
                                        type='text'
                                        class="form-control input-sm m-l-10"
                                        placeholder="{{'schoolRoom.home.search-placeholder'|translate}}"
                                        (keyup)='updateFilter($event)'
                                    />
                                </span>
                                <span class="form-group">
                                    <a class="btn btn-primary btn-mat btn-sm" [routerLink]="['/school-rooms', 'new']">
                                        <i class="mdi mdi-plus mdi-18px"></i> <span jhiTranslate="global.form.create"></span>
                                    </a>
                                </span>
                            </label>
                            <div class="float-left form-group">
                                <label for="nbRows"><span jhiTranslate="global.form.nb-rows">rows</span></label>
                                <select id="nbRows" name="nbRows" class="form-control-sm form-control-inverse"
                                        [(ngModel)]="rowsNumber">
                                    <option *ngFor="let rowNb of rowsNumbers" [value]="rowNb">{{rowNb}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <ngx-datatable
                        #table
                        class="data-table"
                        [rows]="schoolRooms"
                        [loadingIndicator]="loadingIndicator"
                        [columnMode]="'force'"
                        [summaryRow]="true"
                        [summaryPosition]="'bottom'"
                        [headerHeight]="40"
                        [footerHeight]="25"
                        [rowHeight]="50"
                        [limit]="rowsNumber"
                        [reorderable]="reorderable">
                        <ngx-datatable-column prop="name" name="name">
                            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                <span class="datatable-header-cell-wrapper draggable text-center" (click)="sort()">
                                    <strong>{{'schoolRoom.home.datatable.headers.name'|translate}}</strong>
                                </span>
                            </ng-template>
                            <ng-template let-value="value" ngx-datatable-cell-template>
                                <span class="float-right"><strong><a [routerLink]="['view', value]">{{value}}</a></strong></span>
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column prop="type" name="type">
                            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                <span class="datatable-header-cell-wrapper draggable text-center" (click)="sort()">
                                    <strong>{{'schoolRoom.home.datatable.headers.type'|translate}}</strong>
                                </span>
                            </ng-template>
                            <ng-template let-value="value" ngx-datatable-cell-template>
                                <span class="float-right">{{value.code|translate}}</span>
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column prop="seats" name="seats">
                            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                <span class="datatable-header-cell-wrapper draggable text-center" (click)="sort()">
                                    <strong>{{'schoolRoom.home.datatable.headers.seats'|translate}}</strong>
                                </span>
                            </ng-template>
                            <ng-template let-value="value" ngx-datatable-cell-template>
                                <span class="float-right">{{value}}</span>
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column prop="surface" name="surface">
                            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                <span class="datatable-header-cell-wrapper draggable text-center" (click)="sort()">
                                    <strong>{{'schoolRoom.home.datatable.headers.surface'|translate}} ({{client.surfacesMeasurementUnit|translate}})</strong>
                                </span>
                            </ng-template>
                            <ng-template let-value="value" ngx-datatable-cell-template>
                                <span class="float-right">{{value}}</span>
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column prop="closed" name="closed">
                            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                <span class="datatable-header-cell-wrapper draggable text-center" (click)="sort()">
                                    <strong>{{'schoolRoom.home.datatable.headers.state'|translate}}</strong>
                                </span>
                            </ng-template>
                            <ng-template let-value="value" ngx-datatable-cell-template>
                                <div class="label-main text-center" *ngIf="value">
                                    <label class="label label-danger text-center">
                                        <span jhiTranslate="schoolRoom.home.datatable.headers.closed"></span>
                                    </label>
                                </div>
                                <div class="label-main text-center" *ngIf="!value">
                                    <label class="label label-success text-center">
                                        <span jhiTranslate="schoolRoom.home.datatable.headers.opened"></span>
                                    </label>
                                </div>
                            </ng-template>
                        </ngx-datatable-column>
                    </ngx-datatable>
                </form>
            </jhi-card>
        </div>
    </div>
</div>
