<div class="page-body">
    <div class="row">
        <div class="col-md-12">
            <jhi-card [classHeader]="true" [cardOptionBlock]="true">
                <ngb-tabset [justify]="'fill'">
                    <ngb-tab>
                        <ng-template ngbTabTitle>
                            <i class="mdi mdi-timetable"></i> <span jhiTranslate="timetable.list.tabs.schoolClasses-title"></span>
                        </ng-template>
                        <ng-template ngbTabContent>
                            <jhi-timetables-schoolclasses #timetableSchoolClassesComponent></jhi-timetables-schoolclasses>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab>
                        <ng-template ngbTabTitle>
                            <i class="mdi mdi-timetable"></i> <span jhiTranslate="timetable.list.tabs.students-title"></span>
                        </ng-template>
                        <ng-template ngbTabContent>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab>
                        <ng-template ngbTabTitle>
                            <i class="mdi mdi-timetable"></i> <span jhiTranslate="timetable.list.tabs.teachers-title"></span>
                        </ng-template>
                        <ng-template ngbTabContent>
                        </ng-template>
                    </ngb-tab>
                </ngb-tabset>
            </jhi-card>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <jhi-card [title]="'timetable.list.view.title'|translate">
                <div class="row">
                    <div class="col-md-6 col-xl-4">
                        <div class="card bg-c-pink notification-card">
                            <div class="card-block">
                                <div class="row align-items-center">
                                    <div class="col-4 notify-icon"><i class="mdi mdi-timetable"></i></div>
                                    <div class="col-8 notify-cont">
                                        <h4>{{generatedTimetablesLength}}</h4>
                                        <p><span
                                            jhiTranslate="timetable.list.view.headers.generated-timetables-subtitle"></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-4">
                        <div class="card bg-c-blue notification-card">
                            <div class="card-block">
                                <div class="row align-items-center">
                                    <div class="col-4 notify-icon"><i class="mdi mdi-google-classroom"></i></div>
                                    <div class="col-8 notify-cont">
                                        <h4>{{schoolClasses.length}}</h4>
                                        <p><span
                                            jhiTranslate="timetable.list.view.headers.schoolclasses-infos-subtitle"></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-4">
                        <div class="card bg-c-blue notification-card">
                            <div class="card-block">
                                <div class="row align-items-center">
                                    <div class="col-4 notify-icon"><i class="mdi mdi-update"></i></div>
                                    <div class="col-8 notify-cont">
                                        <h4 *ngIf="lastGenerationDateExists()">{{maxTimeTablesGenerationDate() | date: dateHelper.dateTimeFormat()}}</h4>
                                        <h4 *ngIf="!lastGenerationDateExists()">-</h4>
                                        <p><span
                                            jhiTranslate="timetable.list.view.headers.last-generation-date"></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-6">
                        <h4><span jhiTranslate="timetable.list.view.headers.generate-timetables"></span></h4>
                        <button class="btn btn-sm btn-danger btn-mat" (click)="generate()">
                            <i class="mdi mdi-auto-fix"></i>
                            <span jhiTranslate="timetable.list.view.headers.generate-timetables-btn"></span>
                        </button>
                    </div>
                    <div class="col-md-6 col-xl-6"
                         *ngIf="generatedTimetablesPourcent < 100 && generatedTimetablesPourcent > 0">
                        <h4><span jhiTranslate="timetable.list.view.headers.terminate-generation-timetables"></span>
                        </h4>
                        <button class="btn btn-sm btn-danger btn-mat">
                            <i class="mdi mdi-auto-fix"></i>
                            <span
                                jhiTranslate="timetable.list.view.headers.terminate-generation-timetables-btn"></span>
                        </button>
                    </div>
                </div>
            </jhi-card>
        </div>
    </div>
</div>
